﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyContactPersonModel
@{
    // var databuyer = Model.Address_BuyerList;
    var dataBuyerList = ViewData["BuyerList"] as IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_SalePurGroup>;


}

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped" id="BuyerList_Table">
            <thead>
                <tr style="width:100%">
                    <th style="width:20%"><input type="checkbox" id="selectAll"></th>
                    <th style="width:80%">@T("_ComPro.ContactPerson.SaleInfo.LblBuyerList.Title").ToString()</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @dataBuyerList)
                {
                    <tr style="width:100%">
                        <td style="width:20%"><input type="checkbox" class="chkbox" data-buyer_name="@item.PurGroupName" value="@item.PurGroupId"></td>
                        <td style="width:80%">@item.PurGroupName</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var buyer = '@Model.Address_BuyerList';
    var res = buyer.split(",");
    $.each(res, function (index, item) {
        $('.chkbox[value=' + item + ']').prop('checked', true);
    });

    //------------------Buyer List Companycontact-------------------------

    var oTable = $('#BuyerList_Table').dataTable({
        "order": [[1, "asc"]]
    });

    var rowcollection = oTable.$('input[type="checkbox"]:checked', { "page": "all" });

    $("#buyer_val").empty();
    var checkbox_value = [];
    var buyer_name = [];

    rowcollection.each(function (index, elem) {
        checkbox_value.push($(elem).val());
        //Do something with 'checkbox_value'
        buyer_name.push($(elem).data("buyer_name"));
    });
    //*
    $.each(buyer_name, function (i, item) {
        var $tr = $('<tr>').append(
            $('<td>').text(item)
        ).appendTo('#buyer_val');
    });
    checkbox_val = checkbox_value;
    $("#count").html(checkbox_value.length);

    var allPages = oTable.fnGetNodes();

    $('body').on('click', '#selectAll', function () {

        if ($(this).is(":checked")) {
            $(allPages).find(".chkbox").prop('checked', true);
        } else {
            $(allPages).find(".chkbox").prop('checked', false);
        }
        setListBoxBuyerList();
    })

    function setListBoxBuyerList() {
        var rowcollection = oTable.$('input[type="checkbox"]:checked', { "page": "all" });

        $("#buyer_val").empty();
        var checkbox_value = [];
        var buyer_name = [];

        rowcollection.each(function (index, elem) {
            checkbox_value.push($(elem).val());
            //Do something with 'checkbox_value'
            buyer_name.push($(elem).data("buyer_name"));
        });
        //*
        $.each(buyer_name, function (i, item) {
            var $tr = $('<tr>').append(
                $('<td>').text(item)
            ).appendTo('#buyer_val');
        });
        checkbox_val = checkbox_value;
        $("#count").html(checkbox_value.length);
    }
    $('body').on('click', '.chkbox', function () {
        setListBoxBuyerList();
    });
</script>