﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyContactPersonModel
@{

    string IsAllowMultipleUserEmail = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_IsAllowMultipleUserEmail");
    string placeholderEmail = "";
    string placeholderFirstnameLocal = "";
    string placeholderFirstnameInter = "";
    string placeholderLastnameLocal = "";
    string placeholderLastnameInter = "";
    if (IsAllowMultipleUserEmail == "1")
    {
        placeholderEmail = "_Profile.MyAccount.UserInfo.GtxtEmail.MultipleEmail";

    }
    else
    {
        placeholderEmail = "_Profile.MyAccount.UserInfo.GtxtEmail.SingleEmail";

    }

    if (Model.Address_CountryCode == "TH")
    {
        placeholderFirstnameLocal = T("_Profile.MyAccount.UserInfo.GtxtTHLocalFirstname").ToString();
        placeholderLastnameLocal = T("_Profile.MyAccount.UserInfo.GtxtTHLocalLastname").ToString();
        placeholderFirstnameInter = T("_Profile.MyAccount.UserInfo.GtxtTHInterFirstname").ToString();
        placeholderLastnameInter = T("_Profile.MyAccount.UserInfo.GtxtTHInterLastname").ToString();

    }
    else
    {
        placeholderFirstnameLocal = T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalFirstname").ToString();
        placeholderLastnameLocal = T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalLastname").ToString();
        placeholderFirstnameInter = T("_Profile.MyAccount.UserInfo.GtxtNonTHInterFirstname").ToString();
        placeholderLastnameInter = T("_Profile.MyAccount.UserInfo.GtxtNonTHInterLastname").ToString();
    }
}

@using (Html.BeginForm("ContactPersonSave", "CompanyContact", FormMethod.Post, new { @id = "mainOrgContactPersonForm", }))
{
    @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
    @Html.HiddenFor(m => m.ContactID, new { @id = "ContactID" })
    @Html.HiddenFor(m => m.Proc, new { @id = "Proc" })
    @Html.HiddenFor(m => m.Address_BuyerList, new { @id = "Address_BuyerList" });
    @Html.HiddenFor(m => m.Address_Product, new { @id = "Address_Product" });

    <style>
        #BuyerList_DXPagerBottom {
            min-width: 0 !important;
        }

        .dxp-right {
            float: left !important;
        }

        .dxgvHSDC {
            padding-right: 17px !important;
        }

        .dxpLite_Metropolis {
            padding: 0 !important;
        }

        .dxh0 {
            width: 270px !important;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Email, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.HiddenFor(m => m.InitialEmail, new { id = "InitialEmail" })
                                    @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", id = "Email", maxlength = "255", placeholder = @T(placeholderEmail), @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.FirstName_Local, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.DropDownListFor(m => m.TitleID, new SelectList(ViewBag.NameTitle_Local, "TitleID", "TitleName"), new { @class = "form-control custom", id = "TitleID", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.FirstName_Local, null, new { @class = "form-control", id = "FirstName_Local", maxlength = "255", placeholder = placeholderFirstnameLocal, @style = "width: 300px;" })
                                </div>
                                <div class="form-group margin-none">
                                    @Html.TextBoxFor(m => m.LastName_Local, null, new { @class = "form-control input-lg", id = "LastName_Local", maxlength = "255", placeholder = placeholderLastnameLocal, @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.ValidationMessageFor(m => m.FirstName_Local, null, new { @class = "text-danger-bold" })
                                    @Html.ValidationMessageFor(m => m.LastName_Local, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3 form-label-banktext">
                            @Html.Label(" ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.DropDownListFor(m => m.TitleID_Inter, new SelectList(ViewBag.NameTitle_Inter, "TitleID", "TitleName"), new { @class = "form-control custom", id = "TitleID_Inter", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.FirstName_Inter, null, new { @class = "form-control", id = "FirstName_Inter", maxlength = "255", placeholder = placeholderFirstnameInter, @style = "width: 300px;" })
                                </div>
                                <div class="form-group margin-none">
                                    @Html.TextBoxFor(m => m.LastName_Inter, null, new { @class = "form-control input-lg", id = "LastName_Inter", maxlength = "255", placeholder = placeholderLastnameInter, @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.ValidationMessageFor(m => m.FirstName_Inter, null, new { @class = "text-danger-bold" })
                                    @Html.ValidationMessageFor(m => m.LastName_Inter, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.JobTitleID, new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.DropDownListFor(m => m.JobTitleID, new SelectList(ViewBag.JobTitle, "EntityID", "EntityValue"), @T("_ComPro.ContactPerson.DdlJobTitle.OptionLable").ToString(), new { @class = "form-control custom", id = "JobTitleID", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    <div style="display:none;" id="OtherJobTitleShow">
                                        @Html.TextBoxFor(m => m.OtherJobTitle, null, new { @class = "form-control", id = "OtherJobTitle", maxlength = "255", @style = "width: 300px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="panelProductAndBuyer" style="display:none">
                        <div class="">
                            <div class=" margin-none">
                                <p><b>@T("_ComPro.ContactPerson.SaleInfo.InstrTxt.Title")</b> @T("_ComPro.ContactPerson.SaleInfo.InstrTxt.Txt")</p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">

                                @*<div class="row">
                                        <div class="col-xs-3 col-md-3">
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <div class="">
                                                <div class=" margin-none" style="padding-top: 10px">
                                                    @Html.TextBoxFor(m => m.Address_AddProduct, null, new { @class = "form-control", id = "Address_AddProduct", maxlength = "255", @style = "width: 145px;" })
                                                </div>
                                                <div class=" margin-none">
                                                    <input class="btn btn-success" type="button" value="@T("_ComPro.ContactPerson.SaleInfo.BtnAddProductList")" id="addProduct">
                                                </div>
                                            </div>

                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        @Html.LabelFor(m => m.Address_Product, new { @class = "form_label_bold" })@*<span class="red_highlight">*</span>*@
                                        @T("_ComPro.ContactPerson.SaleInfo.LblProductList.Txt")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="">
                                            <div class="margin-none">
                                                @Html.Action("Address_Product", new { model = Model })
                                            </div>
                                            <div class="margin-none">
                                                @Html.ValidationMessageFor(m => m.Address_Product, null, new { @class = "text-danger-bold" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p />
                                <div class="row">
                                    @*<div class="col-xs-3 col-md-3">
                                        </div>*@
                                    <div class="col-xs-12 col-md-12">
                                        @Html.LabelFor(m => m.Address_BuyerList, new { @class = "form_label_bold" })@*<span class="red_highlight">*</span>*@
                                        @T("_ComPro.ContactPerson.SaleInfo.LblBuyerList.Txt")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 values_panel full-width">
                                        <div class="text">
                                            @T("_ComPro.ContactPerson.SaleInfo.LblBuyerList.SelectValTxt")
                                        </div>
                                        @*@Html.DevExpress().ListBox(
                                            settings =>
                                            {
                                                settings.Name = "SelectedRows";
                                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                                settings.Height = 325;
                                                settings.Properties.EnableClientSideAPI = true;
                                            }).GetHtml()*@

                                        <div class="panel panel-default" style="width:100%;height:460px;overflow-y:scroll">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tbody id="buyer_val"></tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="text">
                                            @T("_ComPro.ContactPerson.SaleInfo.LblBuyerList.SelectCouTxt")&nbsp;<strong id="count">0</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-7 full-width">
                                        @Html.Action("Address_BuyerList", new { model = Model })
                                    </div>

                                    @*<div class="margin-none">
                                            <span class="text-danger-bold" style="display:none;" id="errorCompCountry">@T("_ComPro.ContactPerson.SaleInfo.GtxtBuyerList")</span>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Department, new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            @Html.TextBoxFor(m => m.Department, null, new { @class = "form-control", id = "Department", maxlength = "255", @style = "width: 300px;" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.PhoneNo, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.PhoneNo, null, new { @class = "form-control", id = "PhoneNo", maxlength = "50", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.ValidationMessageFor(x => x.PhoneNo, "", new { @class = "text-danger-bold" })
                                </div>
                                <div class=" margin-none" style="vertical-align:top">
                                    <div class="form_label_bold_inline">@T("_ComPro.ContactPerson.LblPhoneExt")</div>
                                </div>
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.PhoneExt, null, new { @class = "form-control input-lg", id = "PhoneExt", maxlength = "50", @style = "width: 300px;" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.MobileNo, new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            @Html.TextBoxFor(m => m.MobileNo, null, new { @class = "form-control", id = "MobileNo", maxlength = "50", @style = "width: 300px;" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.FaxNo, new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.FaxNo, null, new { @class = "form-control", id = "FaxNo", maxlength = "50", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none" style="vertical-align:top">
                                    <div class="form_label_bold_inline">@T("_ComPro.ContactPerson.LblFaxExt")</div>
                                </div>
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.FaxExt, null, new { @class = "form-control", id = "FaxExt", maxlength = "50", @style = "width: 300px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="strike-subHeader">
                                <span class="lable-head-text">@T("_ComPro.ContactPerson.LblSubHeader.Address")</span>
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:10px;"></div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_HouseNo_Local, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.HiddenFor(m => m.AddressID, new { id = "AddressID" })
                                    @Html.TextBoxFor(m => m.Address_HouseNo_Local, null, new { @class = "form-control", id = "Address_HouseNo_Local", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.ValidationMessageFor(m => m.Address_HouseNo_Local, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_VillageNo_Local, new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            @Html.TextBoxFor(m => m.Address_VillageNo_Local, null, new { @class = "form-control", id = "Address_VillageNo_Local", maxlength = "255", @style = "width: 300px;" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_Lane_Local, new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.Address_Lane_Local, null, new { @class = "form-control", id = "Address_Lane_Local", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_Road_Local, new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.Address_Road_Local, null, new { @class = "form-control", id = "Address_Road_Local", maxlength = "255", @style = "width: 300px;" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_SubDistrict_Local, new { @class = "form_label_bold" })<span id="starcountry" class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(a => a.Address_SubDistrict_Local, new { @class = "form-control input-sm ", maxlength = "255", @style = "width: 300px;" })
                                    @*@Html.Action("Address_SubDistrict_Local", new { model = Model })*@
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompSubDistrict">@T("_ComPro.ContactPerson.ValidateMsg.RequireSubDistrict")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_City_Local, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(a => a.Address_City_Local, new { @class = "form-control input-sm ", maxlength = "255", @style = "width: 300px;" })
                                    @*@Html.Action("Address_City_Local", new { model = Model })*@
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompCity">@T("_ComPro.ContactPerson.ValidateMsg.RequireCity")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_State_Local, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(a => a.Address_State_Local, new { @class = "form-control input-sm ", maxlength = "255", @style = "width: 300px;" })
                                    @*@Html.Action("Address_State_Local", new { model = Model })*@
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompState">@T("_ComPro.ContactPerson.ValidateMsg.RequireState")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_PostalCode, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class=" margin-none">
                                    @Html.TextBoxFor(m => m.Address_PostalCode, null, new { @class = "form-control", id = "Address_PostalCode", maxlength = "255", @style = "width: 300px;" })
                                </div>
                                <div class=" margin-none">
                                    @Html.ValidationMessageFor(m => m.Address_PostalCode, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.Address_CountryCode, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.Action("Address_Country", new { model = Model })
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCompCountry">@T("_Profile.ValidateMsg.RequireCountry")</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="data_end" style="padding-top:10px;"></div>

                    @*<div class="row">
                            <div lass="col-xs-12 col-md-12">
                                <div class="text-center">
                                    @Ajax.ActionLink(T("_Global.BtnReset").ToString(), "ResetContactPerson", null, new AjaxOptions() { UpdateTargetId = "mainOrgContactPersonForm", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default" })
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if (@Model.isAllowAccess.ToString().ToLower() == true) {
                if ($("#JobTitleID").val() == 1) {
                    $("#panelProductAndBuyer").show();
                }
                $("#JobTitleID").change(function () {
                    //console.log($("#JobTitleID").val());
                    if ($("#JobTitleID").val() == 1) {
                        $("#panelProductAndBuyer").show();
                    }
                    else
                    {
                        $("#panelProductAndBuyer").hide();
                    }
                });
            }

            //$("#addProduct").click(function(){
            //    var addProduct = $("#Address_AddProduct");
            //    var valPor = addProduct.val();
            //    $("#Address_Product").val(valPor);
            //    $("#Address_Product").focus();

            //    //addProduct.val("");
            //    addProduct.focus();

            //});


            $("#Address_CountryCode").focusin(function () {
                //var CountryCode = Address_CountryCode.GetValue();
                var CountryCode = $("#Address_CountryCode").val();
                if (CountryCode != "TH") {
                    $("#starcountry").css("display", "none");
                }
                else {
                    $("#starcountry").css("display", "initial");
                }
            });

            //The url we will send our get request to
            var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
            var pageSize = 20;

            $(".dd-country").select2({
                width: '300px',
                ajax: {
                    url: countryUrl,
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        //console.log(params);
                        return {
                            searchTerm: params.term, // search term
                            pageNum: params.page,
                            pageSize: pageSize
                        };
                    },
                    processResults: function (data, params) {
                        //console.log(data);
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.Results,
                            pagination: {
                                more: (params.page * pageSize) < data.Total
                            }
                        };
                    },
                    cache: true
                },
                minimumInputLength: 0
                //templateResult: formatRepo, // omitted for brevity, see the source of this page
                //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });


            $("#tokenboxSelect2_Contact").select2({
                tags: true,
                minimumInputLength: 2,
                tokenSeparators: [',']
            })


            //========================== typeahead ========================
            $(function () {
                $('#Address_SubDistrict_Local').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                }, {
                    limit: 10,
                    // displayKey: 'value',
                    source: function (query, processSync, processAsync) {
                        //processSync(['This suggestion appears immediately', 'This one too']);
                        return $.ajax({
                            url: '@Url.Action("SubLocalPartial", "CompanyContact")',
                            type: 'POST',
                            data: {term: query},
                            dataType: 'json',
                            success: function (json) {
                                var matches = [];
                                $.each(json, function (i, str) {
                                    matches.push(str.SubDistrictName);
                                });
                                return processAsync(matches);
                            }
                        });
                    }
                });
            });

            $(function () {
                $('#Address_City_Local').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                }, {
                    limit: 10,
                    // displayKey: 'value',
                    source: function (query, processSync, processAsync) {
                        //processSync(['This suggestion appears immediately', 'This one too']);
                        return $.ajax({
                            url: '@Url.Action("CityLocalPartial", "CompanyContact")',
                            type: 'POST',
                            data: {term: query},
                            dataType: 'json',
                            success: function (json) {
                                var matches = [];
                                $.each(json, function (i, str) {
                                    matches.push(str.CityName);
                                });
                                return processAsync(matches);
                            }
                        });
                    }
                });
            });

            $(function () {
                $('#Address_State_Local').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                }, {
                    limit: 10,
                    // displayKey: 'value',
                    source: function (query, processSync, processAsync) {
                        //processSync(['This suggestion appears immediately', 'This one too']);
                        return $.ajax({
                            url: '@Url.Action("StateLocalPartial", "CompanyContact")',
                            type: 'POST',
                            data: {term: query},
                            dataType: 'json',
                            success: function (json) {
                                var matches = [];
                                $.each(json, function (i, str) {
                                    matches.push(str.StateName);
                                });
                                return processAsync(matches);
                            }
                        });
                    }
                });
            });

        });
    </script>

}

