﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyContactPersonModel
@{
    ViewBag.Title = "ContactPerson";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";


}
<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />
@*<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />*@
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    function ContactGetValueCountryCode(s, e) {

        //e.customArgs['CompAddrCountry'] = Address_CountryCode.GetValue();
        e.customArgs['CompAddrCountry'] = $("#Address_CountryCode").val();
    }
</script>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            <div class="data_end"></div>
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                            <div class="pull-right">
                                @Ajax.ActionLink(T("_Global.BtnReset").ToString(), "ResetContactPerson", null, new AjaxOptions() { UpdateTargetId = "mainOrgContactPersonForm", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default" })
                                <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveContactPerson" />
                            </div>

                        </div>
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>

                    <div class="row">
                        @{ Html.RenderAction("ContactPersonTable", "CompanyContact", new { supplierID = Model.SupplierID }); }
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>

                    @Html.Partial(@"~/Views/CompanyContact/_ContactFormPartial.cshtml")


                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                            <div class="pull-right">
                                @Ajax.ActionLink(T("_Global.BtnReset").ToString(), "ResetContactPerson", null, new AjaxOptions() { UpdateTargetId = "mainOrgContactPersonForm", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default" })
                                <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveContactPerson1" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<div id="myModal-DeleteContactPerson" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Content/images/icon/ico-sp_alert.png" style="padding-right:10px;" />
                @T("_ComPro.ContactPerson.ConfirmMsg.DeleteContactPerson.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @T("_ComPro.ContactPerson.ConfirmMsg.DeleteContactPerson.Txt")
                @using (Html.BeginForm("ContactPersonDelete", "CompanyContact", FormMethod.Post, new { @id = "mainOrgContactPersonDeleteForm", }))
                {
                    @Html.Hidden("hidContactIDDelete", null, new { @id = "hidContactIDDelete" })
                    @Html.Hidden("hidSupplierIDDelete", Model.SupplierID, new { @id = "hidSupplierIDDelete" })
                }
            </div>
            <!-- dialog buttons default primary -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="deleteContactPerson">@T("_Global.BtnOk")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@T("_Global.BtnCancel")</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function deleteContactPerson(contactID) {

        //console.log(contactID);
        $('#myModal-DeleteContactPerson').modal({ backdrop: 'static', keyboard: false })
        $('#hidContactIDDelete').val(contactID);

        event.preventDefault();
        return false;
    }

    function editContactPerson(contactID) {
        console.log(contactID);

        //var form = $("form#form-contact-get");
        //var urlLink = "/Profile/EditUser/" + username;
        //form.attr("action", urlLink);
        //$(location).attr('href', urlLink);
        //console.log(urlLink2);

        event.preventDefault();
        return false;
    }

    $(document).ready(function () {
        
        var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
        var pageSize = 20;
        var query = {};

        $("#Address_CountryCode").select2({
            width: '300px',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        // results:markMatch(data.Results.text, params.term),
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item, params) {
                // No need to template the searching text
                //console.log(item);

                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        //.on("change", function (evt) {
        //    // mostly used event, fired to the original element when the value changes
        //    //console.log(evt.target.value);
        //    //console.log(evt);
        //    var countryCode = evt.target.value;
        //    CountryChangedNew(countryCode)
        //});

        $("#deleteContactPerson").on("click", function (event) {

            var $formContactDelete = $('#mainOrgContactPersonDeleteForm');
            disablePage();
            $formContactDelete.submit();
        });

        $('select#JobTitleID').change(function () {
            //alert("12");
            //OtherJobTitle
            var jobTitleId = $(this).val();
            if (jobTitleId == -1) {
                $("#OtherJobTitleShow").css("display", "block");
            } else {
                $("#OtherJobTitleShow").css("display", "none");
            }

        });

        $('select#TitleID').change(function () {

            var nameTitleId = $(this).val();

            $("#TitleID_Inter").val(nameTitleId);
        });

        $('select#TitleID_Inter').change(function () {

            var nameTitleId = $(this).val();

            $("#TitleID").val(nameTitleId);
        });

        $("#Address_SubDistrict_Local_I").focusout(function () {
            //var CompcountryCode = Address_CountryCode.GetValue();
            //var compSubDistrict = Address_SubDistrict_Local.GetValue();

            var CompcountryCode = $("#Address_CountryCode").val();
            var compSubDistrict = $("#Address_SubDistrict_Local").val();
            if (CompcountryCode == "TH") {
                if (compSubDistrict == "" || compSubDistrict == undefined) {
                    $("#errorCompSubDistrict").css("display", "block");
                } else {
                    $("#errorCompSubDistrict").css("display", "none");
                }
            }
            else {
                $("#errorCompSubDistrict").css("display", "none");
            }

        });

        $("#Address_City_Local_I").focusout(function () {
            //var compCity = Address_City_Local.GetValue();
            var compCity = $("#Address_City_Local").val();

            if (compCity == "" || compCity == undefined) {
                $("#errorCompCity").css("display", "block");
            } else {
                $("#errorCompCity").css("display", "none");
            }
        });

        $("#Address_State_Local_I").focusout(function () {
            //var compState = Address_State_Local.GetValue();
            var compState = $("#Address_State_Local").val();

            if (compState == "" || compState == undefined) {
                $("#errorCompState").css("display", "block");
            } else {
                $("#errorCompState").css("display", "none");
            }
        });

        $("#Address_CountryCode_I").focusout(function () {
            //var compCountry = Address_CountryCode.GetValue();
            var compCountry = $("#Address_CountryCode").val();
            if (compCountry == "" || compCountry == undefined) {
                $("#errorCompCountry").css("display", "block");
            } else {
                $("#errorCompCountry").css("display", "none");
            }
        });

        $("#btnSaveContactPerson").click(function (evt) {
            var $form = $("#mainOrgContactPersonForm");
            //if (selectedIDs != null) {
            //    $("#Address_BuyerList").val(selectedIDs.join(","));
            //}

            if (checkbox_val != null) {
                $("#Address_BuyerList").val(checkbox_val.join(","));
            }

            //alert($("#Address_BuyerList").val());
            var validator = $("#mainOrgContactPersonForm").validate({
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        validator.errorList[0].element.focus();
                    }
                }
            });


            var Address_Product = $("#tokenboxSelect2_Contact").val();

            $("#Address_Product").val(Address_Product);
            //var compSubDistrict = Address_SubDistrict_Local.GetValue();
            //var compCity = Address_City_Local.GetValue();
            //var compState = Address_State_Local.GetValue();

            var compSubDistrict = $("#Address_SubDistrict_Local").val();
            var compCity = $("#Address_City_Local").val();
            var compState = $("#Address_State_Local").val();
            //var compCountry = Address_CountryCode.GetValue();
            var compCountry = $("#Address_CountryCode").val();
            var firstNameLocal = $("#FirstName_Local").val();
            var lastNameLocal = $("#LastName_Local").val();
            var firstNameInter = $("#FirstName_Inter").val();
            var lastNameInter = $("#LastName_Inter").val();
            var chk = true;

            if (compCountry == "" || compCountry == undefined || compCountry == null) {
                evt.preventDefault();
                $('#Address_CountryCode_I').focus();
                $("#errorCompCountry").css("display", "block");
                chk = false;
                return false;
            } else {
                $("#errorCompCountry").css("display", "none");
                chk = true;
            }

            if (compState != null) {
                compState = $.trim(compState);
            }
            if (compState == "" || compState == undefined || compState == null) {
                evt.preventDefault();
                //Address_State_Local.SetValue("");
                $('#Address_State_Local').val("");
                $('#Address_State_Local').focus();
                $("#errorCompState").css("display", "block");
                chk = false;
                return false;
            } else {
                //Address_State_Local.SetValue(compState);
                $('#Address_State_Local').val(compState);
                $("#errorCompState").css("display", "none");
                chk = true;
            }

            if (compCity != null) {
                compCity = $.trim(compCity);
            }
            if (compCity == "" || compCity == undefined || compCity == null) {
                evt.preventDefault();
                //Address_City_Local.SetValue("");
                $('#Address_City_Local').val("");
                $('#Address_City_Local').focus();
                $("#errorCompCity").css("display", "block");
                chk = false;
                return false;
            } else {
                //Address_City_Local.SetValue(compCity);
                $('#Address_City_Local').val(compCity);
                $("#errorCompCity").css("display", "none");
                chk = true;
            }

            if (compSubDistrict != null) {
                compSubDistrict = $.trim(compSubDistrict);
            }
            if (compSubDistrict == "" || compSubDistrict == undefined || compSubDistrict == null) {
                evt.preventDefault();
                //Address_SubDistrict_Local.SetValue("");
                $('#Address_SubDistrict_Local').val("");
                $('#Address_SubDistrict_Local').focus();
                $("#errorCompSubDistrict").css("display", "block");
                chk = false;
                return false;
            } else {
                //Address_SubDistrict_Local.SetValue(compSubDistrict);
                $('#Address_SubDistrict_Local').val(compSubDistrict);
                $("#errorCompSubDistrict").css("display", "none");
                chk = true;
            }

            //===== name =====
            if (firstNameLocal != null) {
                firstNameLocal = $.trim(firstNameLocal);
            }
            $("#FirstName_Local").val(firstNameLocal);
            if (lastNameLocal != null) {
                lastNameLocal = $.trim(lastNameLocal);
            }
            $("#LastName_Local").val(lastNameLocal);
            if (firstNameInter != null) {
                firstNameInter = $.trim(firstNameInter);
            }
            $("#FirstName_Inter").val(firstNameInter);
            if (lastNameInter != null) {
                lastNameInter = $.trim(lastNameInter);
            }
            $("#LastName_Inter").val(lastNameInter);


            if ($form.valid() && chk == true) {

                disablePage();
                $form.submit();
            } else {
                //console.log("focusInvalid");
                validator.focusInvalid();
            }
        });

        $("#btnSaveContactPerson1").click(function (evt) {
            var $form = $("#mainOrgContactPersonForm");
            //if (selectedIDs != null) {
            //    $("#Address_BuyerList").val(selectedIDs.join(","));
            //}

            if (checkbox_val != null) {
                $("#Address_BuyerList").val(checkbox_val.join(","));
            }

            //alert($("#Address_BuyerList").val());
            var validator = $("#mainOrgContactPersonForm").validate({
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        validator.errorList[0].element.focus();
                    }
                }
            });

            var Address_Product = $("#tokenboxSelect2_Contact").val();

            $("#Address_Product").val(Address_Product);

            //var compSubDistrict = Address_SubDistrict_Local.GetValue();
            //var compCity = Address_City_Local.GetValue();
            //var compState = Address_State_Local.GetValue();


            var compSubDistrict = $("#Address_SubDistrict_Local").val();
            var compCity = $("#Address_City_Local").val();
            var compState = $("#Address_State_Local").val();

            //var compCountry = Address_CountryCode.GetValue();
            var compCountry = $("#Address_CountryCode").val();
            var firstNameLocal = $("#FirstName_Local").val();
            var lastNameLocal = $("#LastName_Local").val();
            var firstNameInter = $("#FirstName_Inter").val();
            var lastNameInter = $("#LastName_Inter").val();
            var chk = true;

            if (compCountry == "" || compCountry == undefined || compCountry == null) {
                evt.preventDefault();
                $('#Address_CountryCode').focus();
                $("#errorCompCountry").css("display", "block");
                chk = false;
                return false;
            } else {
                $("#errorCompCountry").css("display", "none");
                chk = true;
            }

            if (compState != null) {
                compState = $.trim(compState);
            }
            if (compState == "" || compState == undefined || compState == null) {
                evt.preventDefault();
                //Address_State_Local.SetValue("");
                $('#Address_State_Local').val("");
                $('#Address_State_Local').focus();
                $("#errorCompState").css("display", "block");
                chk = false;
                return false;
            } else {
                //Address_State_Local.SetValue(compState);
                $('#Address_State_Local').val(compState);
                $("#errorCompState").css("display", "none");
                chk = true;
            }

            if (compCity != null) {
                compCity = $.trim(compCity);
            }
            if (compCity == "" || compCity == undefined || compCity == null) {
                evt.preventDefault();
                //Address_City_Local.SetValue("");
                $('#Address_City_Local').val("");
                $('#Address_City_Local').focus();
                $("#errorCompCity").css("display", "block");
                chk = false;
                return false;
            } else {
                //Address_City_Local.SetValue(compCity);
                $('#Address_City_Local').val(compCity);
                $("#errorCompCity").css("display", "none");
                chk = true;
            }

            if (compCountry == "TH") {
                if (compSubDistrict != null) {
                    compSubDistrict = $.trim(compSubDistrict);
                }
                if (compSubDistrict == "" || compSubDistrict == undefined || compSubDistrict == null) {
                    evt.preventDefault();
                    //Address_SubDistrict_Local.SetValue("");
                    $('#Address_SubDistrict_Local').val("");
                    $('#Address_SubDistrict_Local').focus();
                    $("#errorCompSubDistrict").css("display", "block");
                    chk = false;
                    return false;
                } else {
                    //Address_SubDistrict_Local.SetValue(compSubDistrict);
                    $('#Address_SubDistrict_Local').val(compSubDistrict);
                    $("#errorCompSubDistrict").css("display", "none");
                    chk = true;
                }
            }
            else {
                //Address_SubDistrict_Local.SetValue(compSubDistrict);
                $('#Address_SubDistrict_Local').val(compSubDistrict);
                $("#errorCompSubDistrict").css("display", "none");
            }


            //===== name =====
            if (firstNameLocal != null) {
                firstNameLocal = $.trim(firstNameLocal);
            }
            $("#FirstName_Local").val(firstNameLocal);
            if (lastNameLocal != null) {
                lastNameLocal = $.trim(lastNameLocal);
            }
            $("#LastName_Local").val(lastNameLocal);
            if (firstNameInter != null) {
                firstNameInter = $.trim(firstNameInter);
            }
            $("#FirstName_Inter").val(firstNameInter);
            if (lastNameInter != null) {
                lastNameInter = $.trim(lastNameInter);
            }
            $("#LastName_Inter").val(lastNameInter);


            if ($form.valid() && chk == true) {

                disablePage();
                $form.submit();
            } else {
                //console.log("focusInvalid");
                validator.focusInvalid();
            }
        });
    });

</script>