﻿@model SupplierPortal.Models.ChartsModels_POVolume
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>

@{
    int dataCheckChart = ViewBag.CheckDataChart;
    var col_Chart = 0;
    var col_Profile = 0;
    var col_NotiList = 0;
    if (dataCheckChart != 0)
    {
        col_Chart = 6;
        col_Profile = 8;
        col_NotiList = 4;
    }
    else
    {
        col_Chart = 12;
        col_Profile = 4;
        col_NotiList = 8;
    }

    var conData = ViewBag.contactData as SupplierPortal.Data.Models.MappingTable.Tbl_ContactPerson;

    var dataOr = ViewBag.dataOrgan as SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyGeneralModel;

    var dataAddress = ViewBag.Address as SupplierPortal.Data.Models.MappingTable.Tbl_Address;

    var iconProfileNoti = ViewBag.iconProfileNoti;

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
    // var LanguageID;
    if (LanguageID == "" || LanguageID == null)
    {
        LanguageID = "1";
    }
    else
    {
        LanguageID = cultureCookie.Value.ToString();
    }
    //path data report


    string TitleName = "";
    string FirstName = "";
    string LastName = "";
    string CompanyName = "";
    string Address = "";
    if (LanguageID == "1")
    {
        FirstName = conData.FirstName_Inter;
        LastName = conData.LastName_Inter;
        TitleName = ViewBag.TitleName;
        if (dataOr.BranchNo == "" || dataOr.BranchNo == null)
        {
            CompanyName = dataOr.CompanyName_Inter;
        }
        else if (dataOr.BranchNo == "00000")
        {
            CompanyName = dataOr.CompanyName_Inter + "(" + T("_ComPro.CompanyInfo.LblHeadQuarter").ToString() + ")";
        }
        else
        {
            var branch = dataOr.BranchNo.Replace("0", "");
            CompanyName = dataOr.CompanyName_Inter + "(" + T("_ComPro.CompanyInfo.LblBranchNo").ToString() + branch.ToString() + ")";
        }
        // CompanyName = dataOr.InvName_Inter + "(" + dataOr.BranchName_Inter + ")";
        Address = dataAddress.HouseNo_Inter + " " + dataAddress.VillageNo_Inter + " " +
                  dataAddress.Lane_Inter + " " + dataAddress.Road_Inter + " " +
                  dataAddress.SubDistrict_Inter + " " + dataAddress.City_Inter + " " +
                  dataAddress.State_Inter + " " + dataAddress.PostalCode;
    }
    else if (LanguageID == "2")
    {
        FirstName = conData.FirstName_Local;
        LastName = conData.LastName_Local;
        TitleName = ViewBag.TitleName;
        if (dataOr.BranchNo == "" || dataOr.BranchNo == null)
        {
            CompanyName = dataOr.CompanyName_Inter;
        }
        else if (dataOr.BranchNo == "00000")
        {
            CompanyName = dataOr.CompanyName_Inter + "(" + T("_ComPro.CompanyInfo.LblHeadQuarter").ToString() + ")";
        }
        else
        {
            var branch = dataOr.BranchNo.Replace("0", "");
            CompanyName = dataOr.CompanyName_Inter + "(" + T("_ComPro.CompanyInfo.LblBranchNo").ToString() + branch.ToString() + ")";
        }
        //CompanyName = dataOr.InvName_Local + "(" + dataOr.BranchName_Local + ")";
        Address = dataAddress.HouseNo_Local + " " + dataAddress.VillageNo_Local + " " +
                  dataAddress.Lane_Local + " " + dataAddress.Road_Local + " " +
                  dataAddress.SubDistrict_Local + " " + dataAddress.City_Local + " " +
                  dataAddress.State_Local + " " + dataAddress.PostalCode;
    }

    var imgSrc = "";


    var MainBanner = ViewBag.MainBanner as string;
}


<div class="col-md-12">
    @*<div class="row" style="padding-top:10px">
        <div class="col-md-12">
            @Html.Raw(MainBanner)
        </div>
    </div>*@
    <div class="row" style="padding-top:10px">
        <div class="col-md-@col_Profile">
            @{ Html.RenderAction("NotificationBox", "Notification"); }
            @*<div class="row" style="padding-top:30px">*@
            <div class="row">
                <div class="col-md-@col_Chart">
                    <div class="nav-notification ">
                        <div class="col-md-12 notification-event">
                            @*<div class="row bg-notification">
                                    <div class="col-xs-6">
                                        <h4>  <span class="fa fa-user" aria-hidden="true" style="color:#98C93D"></span></h4>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-12 no-pad">
                                    <div class="user-pad bgGreen">
                                        <h3 style="padding-left:0px;overflow:hidden">
                                            <span class="fa-stack fa-lg" style="float:left;margin-right:5px">
                                                <i class="fa fa-circle fa-stack-2x" style="color:#71C8F0"></i>
                                                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <span class="pull-left" style="margin-top:15px">@TitleName@FirstName @LastName</span>
                                        </h3>
                                        @*<h3  style="padding-left:0px"><span class="fa fa-user" aria-hidden="true" style="color:#333"></span> @TitleName@FirstName @LastName</h3>*@
                                        <h6>
                                            @if (conData.PhoneNo != "" && conData.PhoneNo != null)
                                            {
                                                <i class="fa fa-phone col-xs-1 padding-none"></i> @conData.PhoneNo
                                                if (conData.PhoneExt != "" && conData.PhoneExt != null)
                                                {
                                                    string ext = "";
                                                    if (LanguageID == "1")
                                                    {
                                                        ext = "Ext ";
                                                    }
                                                    else if (LanguageID == "2")
                                                    {
                                                        ext = "เบอร์ต่อ ";
                                                    }
                                                    @ext  @conData.PhoneExt
                                                }
                                            }
                                        </h6>
                                        <h6>
                                            @if (conData.FaxNo != "" && conData.FaxNo != null)
                                            {
                                                <i class="fa fa-fax col-xs-1 padding-none"></i> @conData.FaxNo
                                                if (conData.FaxExt != "" && conData.FaxExt != null)
                                                {
                                                    string ext = "";
                                                    if (LanguageID == "1")
                                                    {
                                                        ext = "Ext ";
                                                    }
                                                    else if (LanguageID == "2")
                                                    {
                                                        ext = "เบอร์ต่อ ";
                                                    }
                                                    @ext  @conData.FaxExt
                                                }
                                            }
                                        </h6>
                                        <h6>
                                            @if (conData.Email != "" && conData.Email != null)
                                            {
                                                <i class="fa fa-envelope-o col-xs-1 padding-none"></i> @conData.Email
                                            }
                                        </h6>
                                        <a href="/Profile/Index" class="btn btn-labeled btn-info" type="button">
                                            <span class="btn-label"><i class="fa fa-pencil"></i></span>@T("_Notification_Profile_BtnUpdateUser")
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 no-pad" style="padding-top:10px">
                                    <div class="user-pad">
                                        <h3 style="padding-left:0px">@CompanyName</h3>
                                        <h6>
                                            <i class="fa fa-university col-xs-1 padding-none"></i>
                                            @if (dataOr.CompanyTypeID == 1)
                                            {
                                                @T("_Notification_Profile_Id")
                                            }
                                            else
                                            {
                                                @T("_ComPro.Shareholder.LblIdentityNo")
                                            }
                                        </h6>
                                        <h6><i class="fa fa-university col-xs-1 padding-none" style="visibility:hidden"></i> @dataOr.TaxID</h6>
                                        <a href="/GeneralInformation/General" class="btn btn-labeled btn-success" type="button">
                                            <span class="btn-label"><i class="fa fa-pencil"></i></span>@T("_Notification_Profile_BtnUpdateCompany")
                                        </a>
                                    </div>
                                    <hr style="border-color:#D1D1D1" />
                                    <div class="user-pad">
                                        <h6><i class="fa fa-map-marker col-xs-1 padding-none"></i> @T("_Notification_Profile_Address")</h6>
                                        <h6><i class="fa fa-map-marker col-xs-1 padding-none" style="visibility:hidden"></i> <span class="col-xs-11 padding-none" style="padding-bottom:10px">@Address</span></h6>
                                        <a href="/ContactInformation/Address" class="btn btn-labeled btn-success" type="button">
                                            <span class="btn-label"><i class="fa fa-pencil"></i></span>@T("_Notification_Profile_BtnUpdateCompany")
                                        </a>
                                    </div>
                                    <hr style="border-color:#D1D1D1" />
                                    <div class="row text-center" style="padding-top:10px;padding-bottom:15px">

                                        @if (iconProfileNoti != null)
                                        {
                                            foreach (var item in iconProfileNoti)
                                            {
                                                if (item != null)
                                                {
                                                    var base64 = Convert.ToBase64String(item);
                                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                    <span>&nbsp;&nbsp;<img class="img-circle" src="@imgSrc" />&nbsp;&nbsp;</span>
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (dataCheckChart != 0)
                {

                    <div class=" col-md-6" id="chart-container">
                        <div class="nav-notification">
                            <div class="col-md-12 notification-event">
                                @*<div class="row bg-notification">
                                        <div class="col-xs-6">
                                            <h4>  <span class="fa fa-pie-chart" aria-hidden="true" style="color:#98C93D"></span></h4>
                                        </div>
                                    </div>*@
                                <a href="/SupplyManagement/ReportsList" class="pull-right" style="padding-top:10px"><div class="fa fa-pie-chart fa-3x" aria-hidden="true"></div></a>
                                <div id="__POVolume__"></div>
                            </div>
                        </div>
                    </div>


                }

            </div>
        </div>
        <div class="col-md-@col_NotiList">
            <div class="row">
                <div class="col-md-12">
                    @*<div id="data_notification">*@
                    <div>
                        @*@Html.Partial("NotipicationPartial", new List<SupplierPortal.Data.Models.SupportModel.NotificationModel>())*@
                        @Html.Action("NotiMianPatial", new List<SupplierPortal.Data.Models.SupportModel.NotificationModel>())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading-Html-template" style="display:none;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <br />
            <br />
            <br />
            <br />
            <br />
            <span class="fa fa-spinner fa-spin fa-5x" style="color:#808080" aria-hidden="true"></span>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="/signalr/hubs"></script>
<script type="text/javascript">

    $(function () {
        // Declare a proxy to reference the hub.
        var notifications = $.connection.messagesHub;
        //debugger;
        // Create a function that the hub can call to broadcast messages.

        notifications.client.updateMessages = function () {
            getAllMessages();
        };
        // Start the connection.
        $.connection.hub.start().done(function () {
            getAllMessages();
        }).fail(function (e) {
        });
    });


    function getAllMessages() {
        var tbl = $('#data_notification');
        //var TopicID = $("#SearchNotification_VI").val();
        var TopicID = $("#TopicID").val();
        //var activeTab = '#' + tbl.find("li.active").find('a').attr('id');
        // tbl.find(".tab-content").html($('.loading-Html-template').html());
        $('.tab-pane-noti.active').html($('.loading-Html-template').html());
        $.ajax({
            cache: false,
            url: '/Notification/GetMessages?TopicType=' + TopicID,
            //  url: '/Notification/GetMessages?TopicType=1',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            async: true,
        }).success(function (result) {
            //   tbl.find(activeTab).tab('show');
            // $('.tab-pane.active').html($('.loading-Html-template').hide());
            $('.tab-pane-noti.active').html('');
            $newfeed = $(result).filter('#newfeed'),$allfeed = $(result).filter('#allfeed');

            $("#countNewFeed").text($newfeed.data("count"));
            $("#countAllFeed").text($allfeed.data("count"));

            $('#newfeed').data("row-skip",$newfeed.data("row-skip"));

            $('#allfeed').data("row-skip",$allfeed.data("row-skip"));

            $('#newfeed').append($newfeed.html());
            $('#allfeed').append($allfeed.html());
        }).error(function () {

        });
    }

    function renderFeed (result) {
        $active_feed = $('.scroll-bar-notification').find('.active');
        $count_feed = $('.feed-header').find('.active').find('.count-feed');
        $result_active =  $(result).filter('#'+$active_feed.attr('id'));

        // replace count feed
        $count_feed.text($result_active.data('count'));

        // replace data feed
        $active_feed.append($result_active.html());

        //replace skip
        $active_feed.data("row-skip",$result_active.data('row-skip'));

    }

    //----------chart-----------
    if (@dataCheckChart != 0) {
        function DecodeHtml(str) {
            return jQuery('<div/>').html(str).text();
        }

        FusionCharts.setCurrentRenderer('javascript');

        var myChart = new FusionCharts("../FusionCharts/Pie3D.swf",
        "chart_Volume", "320", "320", "0", "1");

        if ('@(Model.json_POVolume)' != "") {
            var chrt_POVolume = DecodeHtml('@(Model.json_POVolume)');
            myChart.setJSONData(JSON.parse(chrt_POVolume));
        }

        myChart.configure("ChartNoDataText", "No data!");
        myChart.render("__POVolume__");
    }
</script>
