﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.NotificationModel>
@{
    string color_border_left = "";

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
    var newFeeds = Model.Where(w => w.isRead == 0);
    //var allFeeds = Model.Where(w => w.isRead == 1);
    var skip = ((Int32)ViewBag.Skip);
}

<div id="newfeed" class="tab-pane fade in active" data-count="@ViewBag.count_new_feed" data-row-skip="@skip">
    @foreach (var item in newFeeds)
    {
        if (item.GroupID == 4)
        {
            //ฟ้า
            color_border_left = "#71c8f0";
        }
        else if (item.GroupID == 3)
        {
            //ฟ้า
            color_border_left = "#71c8f0";
        }
        else if (item.GroupID == 2)
        {
            //แดง
            color_border_left = "#f06020";
        }
        else if (item.GroupID == 1)
        {
            //เหลือง
            color_border_left = "#edb61d";
        }
        <div class="col-md-12" style="margin-bottom:5px">
            <button type="button" class="close xClose" data-noti="@item.NotificationID" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="row nav-notification" style="padding-top:10px;border-left:6px solid @color_border_left;">
                <div class="col-xs-12">
                    <div class="row cClose" style="display:none">
                        <input class="pull-right" data-noti="@item.NotificationID" type="checkbox">
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8" style="text-align:right">
                            @item.StartTime
                        </div>
                    </div>
                    <div class="row">
                        <a read-noti="@item.NotificationID" href="@item.TopicURL">
                            <div class="col-xs-2" style="margin-top:10px">
                                @if (item.GroupID == 4)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_eRFX.gif" />
                                }
                                else if (item.GroupID == 3)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_OA.gif" />
                                }
                                else if (item.GroupID == 2)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_OP.gif" />
                                }
                                else if (item.GroupID == 1)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_OP.gif" />
                                }
                            </div>
                            <div class="col-xs-9 font-color">

                                <div class="row feed-content" style="text-align:left;overflow: hidden" data-feed-line="@item.HeaderLength">
                                    @Html.Raw(item.NotificationData)
                                    <div data-hidestoptime1 style="display:none">
                                        <div id="stoptime1">
                                            @item.StopTime
                                        </div>
                                        <div class="countdowns1">
                                        </div>
                                        <div class="checktimeout1">
                                            @item.CheckTimeOut
                                        </div>
                                    </div>
                                    <div class="DateTime-countdown" data-datetime1="@item.countdownTimer" style="padding-top:10px">
                                        @if (item.countdownTimer != "")
                                        {

                                            <div id="Timer1" style="display:none">@item.countdownTimer</div>
                                            <div id="checkCountdown1" style="display:none">@item.CheckCountdown</div>
                                            @*<div class="DTC">
                                                </div>*@
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="row" style="padding-top:5px" id="slider_appen">

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="allfeed" class="tab-pane fade" data-count="@ViewBag.count_all_feed" data-row-skip="@skip">
    @foreach (var item in Model)
    {
        if (item.GroupID == 4)
        {
            //ฟ้า
            color_border_left = "#71c8f0";
        }
        else if (item.GroupID == 3)
        {
            //ฟ้า
            color_border_left = "#71c8f0";
        }
        else if (item.GroupID == 2)
        {
            //แดง
            color_border_left = "#f06020";
        }
        else if (item.GroupID == 1)
        {
            //เหลือง
            color_border_left = "#edb61d";
        }

        <div class="col-md-12" style="margin-bottom:5px">
            <button type="button" class="close xClose" data-dismiss="alert" data-notifordel="@item.NotificationID" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="row nav-notification" style="padding-top:10px;border-left:6px solid @color_border_left;">
                <div class="col-xs-12">
                    <div class="row cClose" style="display:none">
                        <input class="pull-right" data-noti="@item.NotificationID" type="checkbox">
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8" style="text-align:right">
                            @item.StartTime
                        </div>
                    </div>
                    <div class="row">
                        <a href="@item.TopicURL">
                            <div class="col-xs-2" style="margin-top:10px">
                                @if (item.GroupID == 4)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_eRFX.gif" />
                                }
                                else if (item.GroupID == 3)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_OA.gif" />
                                }
                                else if (item.GroupID == 2)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_OP.gif" />
                                }
                                else if (item.GroupID == 1)
                                {
                                    <img class="img-circle" src="~/Content/imagescss/circle_OP.gif" />
                                }
                            </div>
                            <div class="col-xs-9 font-color">

                                <div class="row feed-content" style="text-align:left;overflow:hidden;" data-feed-line="@item.HeaderLength">
                                    @Html.Raw(item.NotificationData)
                                    <div data-hidestoptime2 style="display:none">
                                        <div id="stoptime2">
                                            @item.StopTime
                                        </div>
                                        <div class="countdowns2">
                                        </div>
                                        <div class="checktimeout2">
                                            @item.CheckTimeOut
                                        </div>
                                    </div>
                                    <div class="DateTime-countdown" data-datetime2="@item.countdownTimer" style="padding-top:10px">
                                        @if (item.countdownTimer != "")
                                        {

                                            <div id="Timer2" style="display:none">@item.countdownTimer</div>
                                            <div id="checkCountdown2" style="display:none">@item.CheckCountdown</div>
                                            @*<div class="DTC">
                                                </div>*@
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row" style="padding-top:5px" id="slider_appen">

                    </div>
                </div>
            </div>
        </div>
    }
</div>
