﻿@model SupplierPortal.Data.Models.SupportModel.AccountPortal.LoginPortalModel
@{
    ViewBag.Title = "Login - Supplier Web Work";
    Layout = "~/Views/Shared/_LayoutLoginPortal.cshtml";

    int lockedTime = ViewBag.lockTimeSeconds ?? 0;
}

<style>
    .div-center {
        transform: translate(0%,30%);
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-md-offset-8 ep_box_wrapper div-center">
                <div class="ep_box_body">
                    @using (Html.BeginForm("Index", "BuyerPortal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
                    {

                        <div class="ep_box_content">
                            <div class="ep_box_topic">@T("_Login.LblMyAccount")</div>
                            <div class="ep_login_wrapper">
                                @Html.TextBoxFor(m => m.Username, new { @class = "username_txt_box", id = "username", maxlength = "50", placeholder = T("_Login.TxtUsername") })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger-bold" })
                            </div>
                            <div class="ep_pwd_wrapper">
                                @Html.PasswordFor(m => m.Password, new { @class = "pwd_txt_box", id = "password", maxlength = "50", placeholder = T("_Login.TxtPassword") })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-bold" })
                            </div>
                            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessage("Error", new { @class = "text-danger-bold" }).ToHtmlString()))
                            @*@Html.ValidationMessage("Error", new { @class = "text-danger-bold" })*@
                            @*<div id="login_error_box" class="login_error_box" style="display:block;">
                                    <div id="login_error">
                                        @{
                                            string validationMessage = string.Format(T("_Login.ValidateMsg.UsernameLock").ToString(), "5", "<span id='countDownTime'></span>");
                                            @Html.Raw(validationMessage)
                                        }
                                    </div>
                                </div>*@
                            <div class="ep_submit_wrapper">
                                <input type="submit" value="@T("_Login.BtnLogin")" class="btn_login" onclick="submitLogin();" />
                                @{
                                    var spans = T("_login.Btnlink_Regis").ToString().Split('_').ToList();
                                    if (spans.Count == 2)
                                    {
                                        spans[1] = string.Format("<a href='{0}'>{1}</a>"
                                            , Url.Action("SupplierRegister", "Register")
                                            , spans[1]);
                                    }
                                }
                                @*<span style='padding-left: 15px;color:#808080'>
                                        @Html.Raw(string.Join("", spans))
                                    </span>*@
                            </div>
                            @*<div class="ep_forgot_pwd">
                                    @Html.ActionLink(T("_Login.LblForgotPassword").ToString(), "ForgotPasswordConfirmation", "AccountPortal")
                                </div>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-sm-3 col-sm-offset-7 ep_box_wrapper">
            <div class="ep_box_body">
                <div class="ep_box_content">
                    <div class="row">
                        <div class="ep_box_topic">@T("_Login.LblAnnouncement")</div>
                    </div>
                    <div class="data_end" style="padding-top:20px;"></div>
                    <div class="row">
                        <div class="ep_announcement">
                            @TP("Login.LblAnnouncement.Detail")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*@{ Html.RenderAction("NewsFeedsPartial", "AccountPortal"); }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    var isLocked = document.getElementById('countDownTime');

    var now = new Date();
    now.setSeconds(now.getSeconds() + @lockedTime);

    var countDownDate = now.setMinutes(now.getMinutes() + (30 / 60));

    //var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        var strCountDown = "";
        if (days > 0)
        {
            strCountDown += days + "d ";
        }
        if (hours > 0) {
            strCountDown += hours + "h ";
        }
        if (minutes > 0) {
            strCountDown += minutes + "m ";
        }
        // Output the result in an element with id="demo"
        document.getElementById("countDownTime").innerHTML = strCountDown + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countDownTime").innerHTML = "0 s";
        }
    }, 1000);

    if (isLocked === null)
    {
        clearInterval(x);
    }

    function submitLogin() {
        //var chkUsername = $("#username").hasClass("valid");
        //var chkPassword = $("#password").hasClass("valid");
        //if (chkUsername && chkPassword) {
        //    disablePage();
        //}
        var $form = $("#form-login");
        if ($form.valid()) {
            disablePage();
            //$form.submit();
        }
    }
</script>