﻿@*@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyProfileModel*@
@{
    ViewBag.Title = "Company Profile";
}

@*<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>*@


<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("Company Information")</div>
    <div class="data_end" style="padding-top:40px;"></div>
</div>

<div class="row">
    <div class="data_end" style="padding-top:35px;"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="normal_topic_wrap">
            <div class="normal_topic">

                <span id="tab_topic">@T("_Profile.InstrTitle.General")</span>
                @*<span class="normal_topic_detial">

                    </span>*@
                <span class="normal_topic_detial" id="tab_detial">@T("_Profile.InstrTxt.General")</span>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li class="active"><a href="#General" role="tab" data-toggle="tab"><span class="profile_label">@T("_ComPro.TabGeneral.TabTitle")</span></a></li>
            @Html.Hidden("General", @T("_Profile.InstrTitle.General"), new { id = "tab_general" })
            @Html.Hidden("GeneralDetail", @T("_Profile.InstrTxt.General"), new { id = "tab_generalDetail" })
            <li><a href="#Contact" role="tab" data-toggle="tab"><span class="profile_label">@T("_ComPro.TabContact.TabTitle")</span></a></li>
            @Html.Hidden("Contact", @T("_Profile.InstrTitle.Contact"), new { id = "tab_contact" })
            @Html.Hidden("ContactDetail", @T("_Profile.InstrTxt.Contact"), new { id = "tab_contactDetail" })
            <li><a href="#ProductService" role="tab" data-toggle="tab"><span class="profile_label">@T("_ComPro.TabProductService.TabTitle")</span></a></li>
            @Html.Hidden("ProductService", @T("_Profile.InstrTitle.ProductService"), new { id = "tab_productService" })
            @Html.Hidden("ProductServiceDetail", @T("_Profile.InstrTxt.ProductService"), new { id = "tab_productServiceDetail" })
            <li><a href="#Additional" role="tab" data-toggle="tab"><span class="profile_label">@T("_ComPro.TabAdditional.TabTitle")</span></a></li>
            @Html.Hidden("Additional", @T("_Profile.InstrTitle.Additional"), new { id = "tab_additional" })
            @Html.Hidden("AdditionalDetail", @T("_Profile.InstrTxt.Additional"), new { id = "tab_additionalDetail" })
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="General">
                @*@Html.Partial("_Organization", Model.GeneralInfosData)*@
                @Html.Partial(@"~/Views/CompanyProfile/_PartialGeneral.cshtml")
            </div>
            <div class="tab-pane" id="Contact">
                @*@Html.Partial("_PartialUser")*@
            </div>
           <div class="tab-pane" id="ProductService">
                @*@Html.Partial("_PartialChangePassword", Model.ChangePasswordData)*@
            </div>
            <div class="tab-pane" id="Additional">
                @*@Html.Partial("_PartialChangePassword", Model.ChangePasswordData)*@
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @{
        <script>

            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');

                chkTab();
            });

            function chkTab() {
                var hash = window.location.hash;
                //alert(hash);
                if (hash == "#General") {
                    $("#tab_topic").text($("#tab_general").val());
                    $("#tab_detial").text($("#tab_generalDetail").val());
                }
                if (hash == "#Contact") {
                    $("#tab_topic").text($("#tab_contact").val());
                    $("#tab_detial").text($("#tab_contactDetail").val());
                }
                if (hash == "#ProductService") {
                    $("#tab_topic").text($("#tab_productService").val());
                    $("#tab_detial").text($("#tab_productServiceDetail").val());
                }
                if (hash == "#Additional") {
                    $("#tab_topic").text($("#tab_additional").val());
                    $("#tab_detial").text($("#tab_additionalDetail").val());
                }
            }

            // store the currently selected tab in the hash value
            $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
                var id = $(e.target).attr("href").substr(1);
                window.location.hash = id;
            });

            // on load of the page: switch to the currently selected tab
            var hash = window.location.hash;
            $('#myTab a[href="' + hash + '"]').tab('show');

        </script>
    }
}

