﻿@{
    ViewBag.Title = "Contact";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="container">
    <div class="row">
        <div class="data_end"></div>
        <div class="ep_badge_green_edge"></div>
        <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.ContactUs")</div>
        <div class="data_end" style="padding-top:40px;"></div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-12">
        <p>
    </div>
</div>*@



<div class="row">
    <div class="data_end" style="padding-top:25px;"></div>
</div>

<div class="row">
    <div class="col-md-12">
        @TP("ContactUs.Content")
    </div>
</div>

<address>
    <br />
    <br />
    <abbr title="Phone"></abbr>
</address>

<address>
    <strong></strong><a href="mailto:Support@example.com"></a><br />
    <strong></strong><a href="mailto:Marketing@example.com"></a>
</address>
