﻿@model SupplierPortal.Data.Models.SupportModel.SupplyManagement.ViewDataReportModels
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
    int number = 1;
    string userGuid = "";
    if (Session["GUID"] != null)
    {
        userGuid = Session["GUID"].ToString();
    }
    string username = "";
    if (Session["username"] != null)
    {
        username = Session["username"].ToString();
    }
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

@using (Html.BeginForm("", "",null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-report" }))
{
    @Html.Hidden("OrgID", new { id = "OrgID" })
    @Html.Hidden("UserID", new { id = "UserID" })
    @Html.Hidden("RptID", new { id = "RptID" })
    
}

@*@using (Html.BeginForm("", "", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-report-system" }))
{
    @Html.Hidden("UserGuid", new { id = "UserGuid" })
    @Html.Hidden("PageID", new { id = "PageID" })

}*@
<form action="" method="post" id="form-link">
    <input type="hidden" id="UserGuid" name="UserGuid" />
    <input type="hidden" id="PageID" name="PageID" />
</form>
@foreach (var reportGroup in Model.allReportGroups.Where(m => m.ReportGroupID != 0))
{
    <div class="container">
        <div class="row">
            <div class="data_end"></div>
            <div class="ep_badge_green_edge"></div>
            <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_MenuSub.SupplyTool.Report")</div>
            <div class="data_end" style="padding-top:40px;"></div>
        </div>
        <div class="row">
            <div class="data_end" style="padding-top:25px;"></div>
        </div>

        <div class="row" style="min-height: 250px">
            <div class="col-md-12 func_left_panel">
                <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <div class="func_sel_topic_new">
                                    <div class="portal_topic_tbl_new" style="float:left;">
                                        <div class="summary_head_icon1">
                                            <img src="~/Content/images/icon/ep_SummaryReport.png">
                                    </div>
                                        @reportGroup.ReportGroupName
                                </div>
                                    <div class="data_end_s"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="func_sel_last_wrapper" style="height:133px;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table main_table_borderBottom table-striped">
                                        <tbody>
                                            <tr class="company_table_header">
                                                <td width="7%">@T("_ReportList.TblHead.No")</td>
                                                <td width="40%">@T("_ReportList.TblHead.Name")</td>
                                                <td width="40%">@T("_ReportList.TblHead.Detail")</td>
                                                <td width="13%">@T("_ReportList.TblHead.Action")</td>
                                            </tr>
                                            @{number = 1;}
                                            @foreach (var reportlist in Model.allReports.Where(m => m.ReportGroupID == reportGroup.ReportGroupID))
                                        {
                                            var urlLink = Url.Action(reportlist.Action, reportlist.Controller);
                                            string urlLinkSystem = reportlist.SystemURL;
                                        <tr class="main_table_row tr_export">
                                            <td align="center">@number</td>
                                            <td align="left">@reportlist.ReportName</td>
                                            <td align="left">@reportlist.ReportDetails</td>
                                            <td align="center">
                                                @{
                                            if (reportlist.isEnableService == 1)
                                            {


                                                if (string.IsNullOrEmpty(urlLinkSystem.Trim()))
                                                {
                                                    <a href="javascript:goToExportReport('@urlLink.ToString()','@reportlist.OrgID.ToString()','@reportlist.UserID.ToString()','@reportlist.RptID.ToString()');">
                                                        <img src="~/Content/images/icon/ico-check_oval_green.gif">
                                                    </a>
                                                }
                                                else
                                                {
                                                    // Fix check for ไปหน้า  Topic  ค่า isEnable ==> 0 = ไปหน้า SystemUserDisabled , 1 = ลิ้งออกไป BSP , 2 = ไปหน้า  ServiceSuspend, 3 = ไปหน้า ServiceCancelled ,4 = ไม่โชว์ลิ้ง (ไม่่มีใน Tbl_UserServiceMapping)
                                                    int chkUserMapping = SupplierPortal.Services.SupplyManagement.ReportManage.GetReportsMappingEnable(username, reportlist.SystemID ?? 0);

                                                    if (chkUserMapping != 1)
                                                    {
                                                        if (chkUserMapping == 0)
                                                        {
                                                    <a href="@Url.Action("SystemUserDisabled", "Topic")">
                                                        <img src="~/Content/images/icon/ico-check_oval_green.gif">
                                                    </a>
                                                        }
                                                        else if (chkUserMapping == 2)
                                                        {
                                                    <a href="@Url.Action("ServiceSuspend", "Topic")">
                                                        <img src="~/Content/images/icon/ico-check_oval_green.gif">
                                                    </a>
                                                        }
                                                        else if (chkUserMapping == 3)
                                                        {
                                                    <a href="@Url.Action("ServiceCancelled", "Topic")">
                                                        <img src="~/Content/images/icon/ico-check_oval_green.gif">
                                                    </a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                    <a href="javascript:goToExportSystem('@urlLinkSystem.ToString()','@userGuid','@reportlist.SystemPageID.ToString()');">
                                                        <img src="~/Content/images/icon/ico-check_oval_green.gif">
                                                    </a>
                                                    }

                                                }
                                            }
                                            else
                                            {

                                                    <input style="cursor:not-allowed;" type="image" src="~/Content/images/icon/ico-check_oval_green.gif" disabled />

                                            }

                                                }

                                            </td>
                                        </tr>

                                            number++;
                                        }
                                            @if (Model.allReports.Where(m => m.ReportGroupID == reportGroup.ReportGroupID).Count() < 1)
                                        {
                                        <tr class="main_table_row">
                                            <td align="center" colspan="4">@T("_Report.LblReportNoData")</td>
                                        </tr>
                                        }

                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                                                    }

   @*<a href="javascript:goToExportExcel(@reportlist.UrlLink,@reportlist.OrgID,@reportlist.UserID,@reportlist.RptID);">*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @{
            <script>              

                function goToExportSystem(UrlLink, UserGuid, SysPageID)
                {
                    var urlLink = UrlLink;
                    //var controllerName = ControllerName+"";
                    //var orgID = OrgID;
                    //var userID = UserID;
                    //var rptID = RptID;
 
                    //alert("555");

                    var form = $("form#form-link");
  
                    form.attr("action", urlLink);
                    form.find("#UserGuid").val(UserGuid);
                    form.find("#PageID").val(SysPageID);

                    form.submit();

                    //alert("66");
                    disablePage();
                }

                function goToExportReport(UrlLink, OrgID, UserID, RptID)
                {
                    var urlLink = UrlLink;
                    //var controllerName = ControllerName+"";
                    var orgID = OrgID;
                    var userID = UserID;
                    var rptID = RptID;
 
                    //alert("555");


                    var form = $("form#form-report");
                 
                    form.attr("action", urlLink);
                    document.getElementById('OrgID').value = orgID;
                    document.getElementById('UserID').value = userID;
                    document.getElementById('RptID').value = rptID;

                    form.submit();

                    disablePage();
                    //alert("66");
                    //disablePage();
                }
            </script>

        }
    }
