﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyCertificationModel
@{

}
@using (Html.BeginForm("CertificationSave", "CompanyAdditional", FormMethod.Post, new { @id = "mainOrgCertificationForm", }))
{
    string attachmentConfig = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_AttachmentFile");

    int i = 0;

    string attachmentSize = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_AttachmentSize");
    int maxFileSize = Convert.ToInt32(attachmentSize);

    @Html.Hidden("maxFileSize", @maxFileSize, new { @id = "maxFileSize" })
    @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
    @Html.HiddenFor(m => m.CertId, new { @id = "CertId" })
    @Html.HiddenFor(m => m.Proc, new { @id = "Proc" })
    <div id="remove_item"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.CertifiedID, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline">
                                <div class="margin-none">
                                    @Html.Action("CertificateStandard", new { model = Model })
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorCertificate">@T("_ComPro.Certification.ValidateMsg.RequireCertificate")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="divOtherCertificate" style="display:none;">
                        <div class="col-xs-3 col-md-3 form-label-banktext">
                            @Html.Label(" ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    @Html.TextBoxFor(m => m.OtherStandardName, new { @id = "OtherStandardName", @class = "form-control", placeholder = T("_ComPro.Certification.GtxtOtherStandardName"), @style = "width: 280px;" })
                                </div>
                                <div class="margin-none">
                                    <span class="text-danger-bold" style="display:none;" id="errorOtherStandardName">@T("_ComPro.Certification.ValidateMsg.RequireOtherStandardName")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.ValidFrom, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    <div class="input-group date" id="datepickerValidFrom">
                                        @Html.TextBoxFor(x => x.ValidFrom, new { @id = "ValidFrom", @class = "form-control", @style = "width: 250px;" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="margin-none">
                                    @Html.ValidationMessageFor(m => m.ValidFrom, "", new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.LabelFor(m => m.ValidTo, new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="">
                                <div class="margin-none">
                                    <div class="input-group date" id="datepickerValidTo">
                                        @Html.TextBoxFor(x => x.ValidTo, new { @id = "ValidTo", @class = "form-control", @style = "width: 250px;" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="margin-none">
                                    @Html.ValidationMessageFor(m => m.ValidTo, "", new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <span class="form_label_bold">@T("_ComPro.Certification.Attachment.InstrTxt.AttachGuide.Title")</span>
                            <span>@T("_ComPro.Certification.Attachment.InstrTxt.AttachGuide.Txt")</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="-custom">
                                                <div class="form-inline-element margin-none">
                                                    <input class="form-control" type="text" id="tbx-file-path" name="tbx-file-path" readonly="readonly" style="width: 230px;" />
                                                </div>
                                                <div class="form-inline-element margin-none">
                                                    <span class="btn btn-default fileinput-button">
                                                        <span>@T("_ComPro.Attachment.BtnBrowse").ToString()</span>
                                                        @Html.TextBox("FileAttachment", null, new { id = "fu-my-simple-upload", type = "file", @accept = "" + @attachmentConfig + "", @class = "fu-my-simple-upload" })
                                                    </span>
                                                </div>
                                                <div class="form-inline-element margin-none">
                                                    <button type="button" class="btn btn-primary hl-start-upload" id="hl-start-upload"><span class="glyphicon glyphicon-upload" style="height:14px;" aria-hidden="true"> </span> <span>@T("_ComPro.Attachment.BtnUpload")</span> </button>
                                                </div>
                                                <div class="form-inline-element margin-none">
                                                    <span id="requiredfileupload" class="text-danger-bold"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="data_end" style="padding-top:10px;"></div>

                                    @*<div id="remove_item"></div>*@

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="listCertificateDoc">
                                                <thead>
                                                    <tr class="regis_table_header">
                                                        <td width="50%">@T("_ComPro.Certification.Attachment.TblOrgCertifiedStdAttachment.ColCaption.FileName")</td>
                                                        <td width="40%">@T("_ComPro.Certification.Attachment.TblOrgCertifiedStdAttachment.ColCaption.FileSize")</td>
                                                        <td width="10%">@T("_ComPro.Certification.Attachment.TblOrgCertifiedStdAttachment.ColCaption.Action")</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="p_scents">
                                                    @foreach (var item in Model.OrgCertifiedStdAttachment)
                                                    {
                                                        string linkDelete = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Delete\" onclick=\"return deleteAttachment('" + item.AttachmentID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\">";

                                                        i++;

                                                        string pathSave = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_SupplierCertificateDocPath");
                                                        string pathForSaving = pathSave + item.CertId;

                                                        string virtualFilePath = pathForSaving + "/" + item.AttachmentNameUnique;

                                                        string fileSize = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(item.SizeAttach));

                                                        <tr class="main_table_row" id="item_@item.AttachmentID">
                                                            <td align="left">
                                                                <div class="file-attachment-download">
                                                                    @Html.ActionLink(item.AttachmentName, "Download", new { filePath = virtualFilePath }, new { @class = "register" })
                                                                </div>
                                                                @*<input type="hidden" name="hidAttachmentName[]" value="@item.AttachmentName" />
                                                                    <input type="hidden" name="hidAttachmentNameUnique[]" value="@item.AttachmentNameUnique" />*@
                                                            </td>
                                                            <td align="right">@fileSize</td>
                                                            <td align="center">@Html.Raw(linkDelete)</td>
                                                        </tr>
                                                    }
                                                    @if (i == 0)
                                                    {
                                                        <tr class="main_table_row" id="lastData">
                                                            <td style="text-align: center" colspan="3">@T("_ComPro.Certification.Attachment.TblOrgCertifiedStdAttachment.LblNoData")</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="data_end" style="padding-top:10px;"></div>

                                    <div style="display:none;">
                                        <input type="submit" value="" id="btnSubmit" />
                                    </div>

                                    @*<div class="row">
                                            <div lass="col-xs-12 col-md-12">
                                                <div class="text-center">
                                                    @Ajax.ActionLink(T("_Global.BtnReset").ToString(), "ResetCertification", null, new AjaxOptions() { UpdateTargetId = "mainOrgCertificationForm", InsertionMode = InsertionMode.ReplaceWith, OnSuccess = "formResetSuccess" }, new { id = "btnReset", @class = "btn btn-default" })
                                                </div>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
