﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.CompanyProfile.OrgCertifiedStdTableModel>
@{
    int i = 0;
}
<div class="col-sm-12 col-md-12">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="list-certifiedStd">
        <thead>
            <tr class="regis_table_header">
                <td width="5%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.No")</td>
                <td width="35%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.Certification")</td>
                <td width="25%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.ValidityFrom")</td>
                <td width="25%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.ValidityTo")</td>
                <td width="10%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.Action")</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemList in Model)
            {
                int rowCount = itemList.OrgCertifiedStdAttachment.Count();
                int rowspan = rowCount + 1;
                string linkDelete = "<a  data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete Certification\" onclick=\"deleteCertification('" + itemList.CertId + "');\" style=\"cursor:pointer;\" ><img src=\"/Content/images/icon/ico-sp_deluser2.gif\"></a>";

                string otherStandardName = "";
                if (itemList.CertifiedID == -1)
                {
                    otherStandardName = "(" + itemList.OtherStandardName + ")"; ;
                }
                else
                {
                    otherStandardName = "";
                }

                <tr class="main_table_row numbered_row">
                    <td align="center" class="row_number" rowspan="@rowspan">@itemList.SeqNo</td>
                    <td align="left">@itemList.StandardName @otherStandardName</td>
                    <td align="left">@itemList.ValidFrom</td>
                    <td align="left">@itemList.ValidTo</td>
                    <td align="center" rowspan="@rowspan">
                        @Html.Raw(Ajax.ActionLink("_edit_", "EditCertification", new { certId = itemList.CertId },
                 new AjaxOptions()
                 {
                     UpdateTargetId = "mainOrgCertificationForm",
                     InsertionMode = InsertionMode.ReplaceWith,
                     OnSuccess = "formEditSuccess"

                 }, new { id = "editCertification", title = "Edit Certification" })
                                  .ToHtmlString()
                               .Replace("_edit_", "<img src='/Content/images/icon/ico-sp_edituser2.gif' />").ToString())
                        @Html.Raw(linkDelete)
                    </td>
                </tr>
                foreach (var item in itemList.OrgCertifiedStdAttachment)
                {
                    string pathSave = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_SupplierCertificateDocPath");
                    string pathForSaving = pathSave + item.CertId;

                    string virtualFilePath = pathForSaving + "/" + item.AttachmentNameUnique;

                    <tr class="main_table_row">
                        <td align="left" colspan="3">
                            <div class="file-attachment-download">
                                @Html.ActionLink(item.AttachmentName, "Download", new { filePath = virtualFilePath, fileName = item.AttachmentName }, new { @class = "register" })
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*<div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="list-certifiedStd2">
            <thead>
                <tr class="regis_table_header">
                    <td width="5%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.No")</td>
                    <td width="35%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.Certification")</td>
                    <td width="25%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.ValidityFrom")</td>
                    <td width="25%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.ValidityTo")</td>
                    <td width="10%">@T("_ComPro.Certification.TblOrgCertifiedStd.ColCaption.Action")</td>
                </tr>
            </thead>
            <tbody>
                <tr class="main_table_row numbered_row">
                    <td align="center" class="row_number" rowspan="2">1</td>
                    <td align="left">GMP </td>
                    <td align="left">20/08/2015</td>
                    <td align="left">30/08/2015</td>
                    <td align="center" rowspan="2">
                        <a data-ajax="true" data-ajax-mode="replace-with" data-ajax-update="#mainOrgCertificationForm" href="/CompanyAdditional/EditCertification?certId=7" id="editCertification" title="Edit Certification"><img src="/Content/images/icon/ico-sp_edituser2.gif"></a>
                        <a data-toggle="tooltip" data-placement="left" title="Delete Certification" onclick="deleteCertification('7');" style="cursor:pointer;"><img src="/Content/images/icon/ico-sp_deluser2.gif"></a>
                    </td>
                </tr>
                <tr class="main_table_row">
                    <td align="left" colspan="3">4444 </td>
                </tr>

                <tr class="main_table_row numbered_row" rowspan="2">
                    <td align="center" class="row_number" rowspan="2">2</td>
                    <td align="left">ISO/IEC 17025 </td>
                    <td align="left">20/08/2015</td>
                    <td align="left">28/08/2015</td>
                    <td align="center" rowspan="2">
                        <a data-ajax="true" data-ajax-mode="replace-with" data-ajax-update="#mainOrgCertificationForm" href="/CompanyAdditional/EditCertification?certId=8" id="editCertification" title="Edit Certification"><img src="/Content/images/icon/ico-sp_edituser2.gif"></a>
                        <a data-toggle="tooltip" data-placement="left" title="Delete Certification" onclick="deleteCertification('8');" style="cursor:pointer;"><img src="/Content/images/icon/ico-sp_deluser2.gif"></a>
                    </td>
                </tr>
                <tr class="main_table_row">
                    <td align="left" colspan="3">5555 </td>
                </tr>
            </tbody>
        </table>
    </div>*@
