﻿@*@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_AutoMergeUser>*@
@model IEnumerable<SupplierPortal.Data.Models.SupportModel.AutoMerge.MergeUserGroupReadyModel>
@{
    string cssClass = "";
    string isPrimary = "";
    string mergeID = "";
    string cssClassReady = "";
    string isReady = "";
}
<table class="table table-hover" id="MergeUserTable">
    <thead>
        <tr>
            <th width="10%">MergeID</th>
            <th width="15%">UserName</th>
            <th width="10%">Primary</th>
            <th width="10%">Ready</th>
            <th width="55%">Remark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            foreach (var item in list.MergUserReady)
            {
                if (item.isPrimary == 1)
                {
                    isPrimary = "Yes";
                    cssClass = "warning";
                    mergeID = item.MergeID.ToString();
                }
                else
                {
                    isPrimary = "No";
                    cssClass = "info";
                    mergeID = "";
                }
                if (item.isReady == 1)
                {
                    cssClassReady = "";
                    isReady = "Yes";
                }else
                {
                    cssClassReady = "danger";
                    isReady = "No";
                }
                <tr class="@cssClass">
                    <td>@mergeID</td>
                    <td>@item.UserName</td>
                    <td>@isPrimary</td>
                    <td class="@cssClassReady">@isReady</td>
                    <td>@item.Remark</td>
                </tr>
            }
        }
    </tbody>
</table>
