﻿@model SupplierPortal.Models.DashboardModels
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#filter_detail").html('@T("_MenuSub.SupplyTool.Report.ReportFilterDetail")&nbsp;:&nbsp;@(Model.filterCondition)');
                $('#user_name').html('@(Model.UserName)');
        //        $('#supplier_name').html('@(Model.SuppShortName)');
        setFooter();
        //$.unblockUI();
    });
</script>
@{
    ViewBag.Title = "Supplier Dashboard";
 Layout = "~/Views/Shared/_LayoutPrintReport.cshtml";
}
<div style="padding:0px 8px 0px 10px;">
    <div class="print_header">
        <div style="float:left;font-size:18px;">@T("_MenuSub.SupplyTool.Report.ReportDashBoardName")</div>
    </div>
</div>
@*<div class="ms_content">*@
<div style="padding:2px 8px 5px 8px; width: 825px;">
    <table>
        <tr>
            <td><div id="filter_detail" class="report_filter_detail" style="display:inline-block;"></div></td>
            <td></td>
            <td>
                <div style="float: right;">
                    <a href="javascript:printpage();">@T("_Report.Menu.Print")</a>
                    <a href="javascript:printpage();"><img src="../Content/images/printer.gif" /></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table id="tbl_ChartNumPO" border="0" cellpadding="0" cellspacing="0" style="width: 540px; border:solid 1px #AAAAAA;">
                    <tr>
                        <td valign="top" align="center" style="padding:0;">
                            @*3D Pie Chart NumPO*@
                            <div id="ChartNumPO">
                                @Html.Action("_NumPO", "PrintReport", new { year = @Model.selectedYear, buyerGroupName = @Model.selectedBuyerGrp })
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div style="padding-left:30px;"></div>
            </td>
            <td>

                <table id="tbl_ChartPOVolume" border="0" cellpadding="0" cellspacing="0" style="width: 540px; border:solid 1px #AAAAAA;">
                    <tr>
                        <td valign="top" align="center" style="padding:0;">
                            @*3D Pie Chart POVolume*@
                            <div id="ChartPOVolume">
                                @Html.Action("_POVolume", "PrintReport", new { year = @Model.selectedYear, buyerGroupName = @Model.selectedBuyerGrp })
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding-left:30px;"></div>
            </td>
            <td>
                <div style="padding-left:30px;"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding-top:22px;"></div>
                <table id="tbl_ChartPOStatus" border="0" cellpadding="0" cellspacing="0" style="width: 540px; border:solid 1px #AAAAAA;">
                    <tr>
                        <td valign="top" align="center" style="padding:0;">
                            @*3D Pie Chart POStatus*@
                            <div id="ChartPOStatus">
                                @Html.Action("_POStatus", "PrintReport", new { year = @Model.selectedYear, buyerGroupName = @Model.selectedBuyerGrp })
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <div style="padding-left:30px;"></div>
            </td>
        </tr>
    </table>
</div>
<div style="padding:0px 10px 0 20px;">
    <div class="print_by" align="right">
        Supplier: <span id="supplier_name"></span>
        @*&nbsp;พิมพ์โดย (Print By): <span id="user_name"></span>*@
        &nbsp;พิมพ์เมื่อวันที่ (Print Date):  <span id="print_date"></span>
    </div>
</div>
<div style="padding:12px 10px 10px 10px;">
    <div style="border-top:solid 1px #CCCCCC;"></div>
</div>

<script type="text/javascript">


    //Print
    function printpage() {
        //window.print();
        FusionCharts.printManager.enabled(true);
        FusionCharts.printManager.managedPrint();
    }

    function setFooter() {
        //var today = new Date();
        //var dd = today.getDate();
        //var mm = today.getMonth() + 1; //January is 0!
        //var hh = today.getHours();
        //var min = today.getMinutes();
        //var yyyy = today.getFullYear();
        //if (dd < 10) {
        //    dd = '0' + dd
        //}
        //if (mm < 10) {
        //    mm = '0' + mm
        //}
        //if (hh < 10) {
        //    hh = '0' + hh
        //}
        //if (min < 10) {
        //    min = '0' + min
        //}
        //today = mm + '/' + dd + '/' + yyyy + '&nbsp;' + hh + ':' + min;

        var d = new Date();
        var n = d.getUTCDate();
        var yyyy = d.getUTCFullYear();
        var MM = d.getUTCMonth() + 1;
        var hh = d.getUTCHours();
        var mm = d.getUTCMinutes();
        var utcst = d.toUTCString();
        if (n < 10) {
            n = '0' + n
        }
        if (MM < 10) {
            MM = '0' + MM
        }
        if (hh < 10) {
            hh = '0' + hh
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        //document.getElementById("demo").innerHTML = n;
        document.getElementById("print_date").innerHTML = MM + '/' + n + '/' + yyyy + ' ' + hh + ':' + mm;

        $('#user_name').html('@(Model.UserName)');
        $('#supplier_name').html('@(Model.SuppShortName)');
        //$("#print_date").html(today);
    }

</script>
