﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.ViewDocumentTrackingModels
@{
    string pathSave = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_SupplierDocumentPath");
    
    
    string pathForSavingOld = "";
    string virtualFilePathOld = "";
    string fileSizeOld = "";

    string pathForSavingNew = "";
    string virtualFilePathNew = "";
    string fileSizeNew = "";
    
    if (Model.OldOrgAttachment.AttachmentID != 0)
    {
        pathForSavingOld = pathSave + Model.OldOrgAttachment.SupplierID;
        virtualFilePathOld = pathForSavingOld + "/" + Model.OldOrgAttachment.AttachmentNameUnique;
        fileSizeOld = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(Model.OldOrgAttachment.SizeAttach));
    }

    if (Model.NewOrgAttachment.AttachmentID != 0)
    {
        pathForSavingNew = pathSave + Model.NewOrgAttachment.SupplierID;
        virtualFilePathNew = pathForSavingOld + "/" + Model.NewOrgAttachment.AttachmentNameUnique;
        fileSizeNew = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(Model.NewOrgAttachment.SizeAttach));
    }

}
<div class="panel panel-default">
    <div class="panel-heading">
        Old Attachment
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="OldtrackingTable">
                    <thead>
                        <tr class="regis_table_header">
                            <td width="40%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.FileName")</td>
                            <td width="20%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.FileSize")</td>
                            <td width="40%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.DocumentName")</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OldOrgAttachment.AttachmentID != 0)
                        {
                            <tr class="main_table_row">
                                <td align="left">
                                    <div class="file-attachment-download">
                                        @Html.ActionLink(Model.OldOrgAttachment.AttachmentName, "Download", new { filePath = virtualFilePathOld, fileName = Model.OldOrgAttachment.AttachmentName })
                                    </div>
                                </td>
                                <td align="right">@fileSizeOld</td>
                                <td align="left">@Model.OldOrgAttachment.DocumentName</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="main_table_row">
                                <td align="center" colspan="3">@T("_ComPro.Attachment.TblUploadedFile.LblNoData")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="data_end" style="padding-top:20px;"></div>

    <div class="panel-heading">
        New Attachment
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="OldtrackingTable">
                    <thead>
                        <tr class="regis_table_header">
                            <td width="40%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.FileName")</td>
                            <td width="20%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.FileSize")</td>
                            <td width="40%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.DocumentName")</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.NewOrgAttachment.AttachmentID != 0)
                        {
                            <tr class="main_table_row">
                                <td align="left">
                                    <div class="file-attachment-download">
                                        @Html.ActionLink(Model.NewOrgAttachment.AttachmentName, "Download", new { filePath = virtualFilePathNew, fileName = Model.NewOrgAttachment.AttachmentName })
                                    </div>
                                </td>
                                <td align="right">@fileSizeNew</td>
                                <td align="left">@Model.NewOrgAttachment.DocumentName</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="main_table_row">
                                <td align="center" colspan="3">@T("_ComPro.Attachment.TblUploadedFile.LblNoData")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




