﻿<div style="font-family: Tahoma, Arial,sans-serif; font-size: 14px; text-align: center;">
    <a href="#">
        <img class="img" src="~/Content/images/success.png" border="0" style="padding-bottom: 15px" />
    </a>
    <p><span>ขอบคุณที่ไว้วางใจสมัครสินเชื่อธุรกิจ<br />Supply Chain Finance</span></p>
    <p><span>เจ้าหน้าที่จะติดต่อท่านกลับภายใน 24 ชม.</span></p>
</div>