﻿
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutAgreementPortal.cshtml";
}

@*<div class="row">
        <div class="col-md-4 padding-none">

            <div class="report_menu_header">
                @T("_Agreement.TermCondition.LnkRegisterCondition")
            </div>
            <div class="report_menu_header_edge"></div>

        </div>
        <div class="col-md-4 padding-none">
        </div>
        <div class="col-md-4 padding-none">
        </div>
    </div>*@

@*<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="page-header">
                @Html.Raw(@ViewBag.Body)
            </div>
        </div>
    </div>
        </div>*@

<div class="ms_breadcrumb" style="height:25px;padding-left:24px;">
    <div style="padding-right:4px;">
        <div id="portal_breadcrumb" style="float:left;"></div>
    </div>
</div>
@using (Html.BeginForm("UpdateAcceptTermOfUse", "Agreement", FormMethod.Post))
{
    <div id="content-Agreement">
        <div style="height:65px;">
            <div class="ep_badge_green_edge"></div>
            <div class="ep_badge_green" style="width:300px;">@T("_Menu.TermOfCondition")</div>
        </div>
        <!-- ############################  Content HERE! ############################### -->
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td style="padding-top:1em;">
                        <div style="width:100%;text-align:center;">
                            <div style="width:80%;text-align:left;padding-left:10%;">

                                <div class="term_header" align="left">@Html.Raw(@ViewBag.Body)</div>
                                <div>&nbsp;</div>
                                @*<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="3%" valign="top">1.  </td>
                                                <td width="97%" valign="top">ชื่อสมาชิก และรหัสผ่านที่ข้าพเจ้าได้รับจากบริษัท พันธวณิช จำกัด ข้าพเจ้าจะเก็บรักษาไว้เป็นความลับเฉพาะบุคคล และจะถือเป็นความรับผิดชอบของข้าพเจ้าทั้งหมดแต่เพียงผู้เดียว ทางผู้ให้บริการจะไม่มีส่วนรับผิดชอบ</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">2.  </td>
                                                <td valign="top">ข้าพเจ้าจะใช้ชื่อสมาชิก และรหัสผ่านนี้ในการเข้าเสนอราคาในงานประมูลออนไลน์ โดยข้าพเจ้าจะรับผิดชอบต่อการยื่นประมูลที่ได้ใช้ชื่อสมาชิกและรหัสผ่านนี้ และข้าพเจ้ามีความเข้าใจยอมรับ และจะปฎิบัติตามนโยบายอัตราค่าธรรมเนียมและเงื่อนไขที่ได้กำหนดในการประมูลครั้งนี้ทุกประการ</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">3.  </td>
                                                <td valign="top">ผู้ให้บริการสงวนสิทธิ์ที่จะดำเนินคดีตามกฎหมายสูงสุดกับบุคคลใดๆ ที่พยายาม กระทำการที่เป็นอันตรายต่อเว็บไซต์ www.pantavanij.com</td>
                                            </tr>
                                        </tbody>
                                    </table>*@
                            </div>
                        </div>
                        <div align="center" style="padding-top:15px;padding-bottom:15px;&quot;">

                            @*<button class="btn-agreement" style="width:80px;height:25px;" onclick="accept('1')">ยอมรับ</button>&nbsp;
                                <button class="btn-agreement" style="width:80px;height:25px;" onclick="accept('0')">ไม่ยอมรับ</button>*@
                            <button class="btn-agreement" name="AcceptID" style="width:80px;height:25px;" value="1">@T("_Agreement.TermCondition.BtnOk")</button>&nbsp;
                            <button class="btn-agreement" name="AcceptID" style="width:80px;height:25px;" value="0">@T("_Agreement.TermCondition.BtnCancel")</button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- ############################  Content HERE! ############################### -->
    </div>
}
<script type="text/javascript">
    function accept(id) {

        //alert(id);

        @*$.ajax({
            url: '/Agreement/UpdateAcceptTermOfUse',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({User: "@Session["user"]",AcceptID:id}),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                console.log(data);
            },
            error: function (xhr) {
                return false;
            }
        })*@
    }

</script>