﻿
@{
    ViewBag.Title = "UserUnlockAccount";
    Layout = "~/Views/Shared/_LayoutHomeForAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top:10px">

            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Partial("GridViewUserUnlockAccount")
                </div>
            </div>
        </div>
    </div>
</div>