﻿<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class="ep_footer1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 ep_footer1_block1 ">
                <div class="ep_footer1_txt ep_footer_address">
                    @TP("Landing.Footer.Pantavanij")
                </div>
            </div>
            <div class="col-md-5 ep_footer1_block2 ep_footer1_txt ">
                @*<div class="ep_footer1_txt_header">
                       @TP("Landing.Footer.CustomerCare.Head")
                    </div>
                    <div class="ep_footer1_txt ep_footer_care">
                        <div>
                        @TP("Landing.Footer.CustomerCare.Detail")
                        </div>
                        <div style="position:absolute;margin-top:1px;"><img src="~/Content/images/ico_mail_green.gif" /></div><div style="padding-left:24px;"><a href="mailto:@TP("Landing.Footer.CustomerCare.Email")">@TP("Landing.Footer.CustomerCare.Email")</a></div>
                        <div>@TP("Landing.Footer.CustomerCare.Hour")</div>
                    </div>*@
                @TP("Landing.Footer.CustomerCare.Detail")
            </div>
            <div class="col-md-2  ep_footer1_block3" style="float:left;">

                @*<img src="~/Content/images/Facebook_icon-300x300.png" width="50" />&nbsp;&nbsp;&nbsp;
                <img src="~/Content/images/twitter-logo.png" width="50" />&nbsp;&nbsp;&nbsp;
                <img src="~/Content/images/rss.png" width="50" />&nbsp;&nbsp;&nbsp;*@
                @*@TP("Landing.Footer.Images")*@

            </div>
        </div>
    </div>
</div>

<div class="ep_footer2" align="center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ep_footer_width">
                    <div class="ep_footer2_txt ep_power_by">@TP("Landing.Footer.Power.By")</div>
                    <div class="ep_footer2_txt ep_copyright">@TP("Landing.Footer.Copyright")</div>
                    @*<div class="ep_footer2_txt ep_copyright">@TP("Landing.Footer.Copyright").ToHtmlString().Replace("<%year%>", DateTime.Now.Year.ToString()).ToString()</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
