﻿@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

}
<!DOCTYPE html>

<html>
<head>
    <style>
        ::-webkit-input-placeholder { /* WebKit browsers */
            color: #aaa !important;
        }

        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #aaa !important;
            opacity: 1;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #aaa !important;
            opacity: 1;
        }

        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #aaa !important;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Supplier Web Work</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/breadcrumb")
    @Styles.Render("~/Content/portal")
    @Styles.Render("~/Content/msdropdown")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Hidden("hdfRequiredField", @T("_Regis.Msg_RequireTicketCode"), new { @id = "hdfRequiredField" })
    <div id="loadingMsg" style="display:none;">
        <img src="~/Content/images/loading8-1.gif" />
    </div>

    <div class="page-header" align="center">
        <div class="ep_header_width">
            @using (Html.BeginForm("SetCulture_LangingPage", "SetCulture", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "countries_select", role = "form" }))
            {
                <div class="language_select" align="right">

                    <select name="countries" id="countries" style="width:130px; text-align: left" onchange="changeCountries();">
                        @{ Html.RenderAction("CountrySelect", "SetCulture"); }
                    </select><p>
                </div>
            }
            <div class="brand" align="left"><a><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>
            @*<div class="row">
                
            </div>
            <div class="row">
               
            </div>*@
           
          
        </div>
    </div>

    <div class="login_body_New_bg">
        <div class="news_content">
            <div class="data_end" style="padding-top:40px;"></div>
            <div class="container container_landing">
                @RenderBody()
            </div>
        </div>
    </div>
    
       
    

    @Html.Partial(@"~/Views/Shared/_FooterLandingPartial.cshtml")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/bundles/placeholder")
    @Scripts.Render("~/bundles/country-dropdown")

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    function disablePage() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }
    function changeCountries() {

        $("#countries_select").submit();
        //waitPage();
        disablePage();
    }
    function selectItemByValue(elmnt, value) {
        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value == value) {

                $("#countries [value='" + value + "']").attr("selected", "selected");

            }
        }
    }
    $(document).ready(function () {

        var number = document.getElementById('countries');
        selectItemByValue(number, @LanguageID);

        $("#countries").msDropdown();

        

        

    });
</script>
