﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantavanij</title>
    @Styles.Render("~/Content/msdropdown")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/breadcrumb")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/bundles/country-dropdown")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            disablePage();
            goBack();
            //location.reload();
        });

        function goBack() {
            //window.history.back();
            window.history.go(-1)
        }
        function disablePage() {
            $.blockUI({
                message: $('#loadingMsg'),
                overlayCSS: { backgroundColor: '#FFFFFF' },
                //timeout: 2000,
                css: {
                    border: 'none',
                    background: 'none',
                    padding: '0px'
                }
            });
        }
    </script>
</head>
<body>
    <div id="loadingMsg" style="display:none;">
        <img src="~/Content/images/loading8-1.gif" />
    </div>
    <div class="page-header" align="center">
        <div class="ep_header_width">          
            <div class="brand" align="left"><a><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
