﻿@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Supplier Web Work</title>


    @Styles.Render("~/Content/msdropdown")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div id="loadingMsg" style="display:none;">
        <img src="~/Content/images/loading8-1.gif" />
    </div>

    <div class="page-header" align="center">
        <div class="ep_header_width">
            @using (Html.BeginForm("SetCulture_LangingPage", "SetCulture", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "countries_select", role = "form" }))
            {
                <div class="language_select" align="right">

                    <select name="countries" id="countries" style="width:130px; text-align: left" onchange="changeCountries();">
                        @{ Html.RenderAction("CountrySelect", "SetCulture"); }
                    </select><p>
                </div>
            }
            <div class="brand" align="left"><a href=@Url.Action("Index", "BuyerPortal")><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>
        </div>
    </div>

    <div class="login_body_bg">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    @Html.Partial(@"~/Views/Shared/_FooterLandingPartial.cshtml")



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/bundles/placeholder")
    @Scripts.Render("~/bundles/country-dropdown")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>

    $(document).ready(function () {

        var number = document.getElementById('countries');
        selectItemByValue(number, @LanguageID);

        $("#countries").msDropdown();

    });


    function changeCountries() {

        $("#countries_select").submit();
        //waitPage();
        disablePage();
    }

    function selectItemByValue(elmnt, value) {
        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value == value) {

                $("#countries [value='" + value + "']").attr("selected", "selected");

            }
        }
    }

    $('input, textarea').placeholder();



    function disablePage() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }



</script>
