﻿@*บล๊อกแรก (สีฟ้า)*@
<div class="col-md-4 padding-none ">
    <div class="partition_menu_header_wrapper">
        <div class="leads_menu_header">
            @T("_MenuSub.Sourcing")
         
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
        <div class="data_end"></div>
        <div class="sourcing_menu_content_wrapper">
            <div class="ep_menu_div">
                @*@T("_MenuSub.Leads.ViewERFX")*@
                @Html.ActionLink(T("_MenuSub.Sourcing.eRFX").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div">
                @*@T("_MenuSub.Leads.ExploreBuyLead")*@
                @Html.ActionLink(T("_MenuSub.Sourcing.AuctionEvent").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div_end"></div>
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
    </div>
</div>

@*บล๊อกสอง (สีเหลือง)*@
<div class="col-md-4 padding-none">
    <div class="partition_menu_header_wrapper">
        <div class="auction_menu_header">
            @T("_MenuSub.Procument")
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
        <div class="data_end"></div>
        <div class="procurement_menu_content_wrapper">
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.Procument.NewPO").ToString(), "Index", "ApiLink")<span class="badge pull-right">3</span>
            </div>
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.Procument.CheckStatusPO").ToString(), "Index", "ApiLink")<span class="badge pull-right">99</span>
            </div>
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.Procument.DeliveryAmendment").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.Procument.GoodsReceipt").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div_end"></div>
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
    </div>
</div>

@*บล๊อกสาม (สีส้ม)*@
<div class="col-md-4 padding-none">
    <div class="partition_menu_header_wrapper">
        <div class="supply_menu_header">
            @T("_MenuSub.SupplyTool")
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
        <div class="data_end"></div>
        <div class="supply_menu_content_wrapper">
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.SupplyTool.CompanyInformation").ToString(), "Index", "ApiLink")
                
            </div>
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.SupplyTool.BuyerManagement").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.SupplyTool.ContractManagement").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.SupplyTool.CatalogManagement").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div">
                @Html.ActionLink(T("_MenuSub.SupplyTool.Report").ToString(), "Index", "ApiLink")
            </div>
            <div class="ep_menu_div_end"></div>
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
    </div>
</div>





