﻿
@{
    ViewBag.Title = "Timeout";
    Layout = "~/Views/Shared/_LayoutHomeForBuyerAdmin.cshtml";
    string userGUID = "";
    if (Session["GUID"] != null)
    {
        userGUID = Session["GUID"].ToString();
    }
    else
    {
        userGUID = "null";
    }
    string userName = "";
    if (Session["username"] != null)
    {
        userName = Session["username"].ToString();
    }
    else
    {
        userName = "nullUsername";
    }
    //string machineName = System.Environment.MachineName;
    //string usernameIden = System.Security.Principal.WindowsIdentity.GetCurrent().Name;
}

<div class="container body-content" style="min-height: 540px;">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="error_title">
                        <img src="~/Content/images/icon/ico-sp_alert.gif" style="padding-right:10px;" />
                        <div class="error_title_text">
                            @T("_Lbl.TimeoutTitle")
                        </div>
                    </div>
                    <div class="error_content_block">
                        @T("_Lbl.TimeoutMessage")
                    </div>
                    @*<div style="display:none;">@userGUID@userName@machineName@usernameIden</div>*@
                    <div class="error_button_block" align="right">
                        @*@Html.ActionLink(T("_Global.BtnOk").ToString(), "Logout", "BuyerPortal", null, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

