﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_MenuPortal_CompanyProfile>
@{
    ViewBag.Title = "CompanyProfileMenu";
    Layout = "~/Views/Shared/_LayoutMenuProfile.cshtml";
}

@*<h2>CompanyProfileMenu</h2>*@
<script type="text/javascript">

    $(function ($) {
        $('.mob-top-menu-L .expand').click(function () {
            var parent = $(this).parent();

            if (parent.hasClass('active')) {
                $(".sublist:first", parent).hide(300);
                parent.removeClass('active');
            } else {
                $(".sublist:first", parent).show(300);
                parent.addClass('active');
            }


        });
        $('.mob-top-menu-L a').click(function () {
            var parent = $(this).parent();

            if (parent.hasClass('active')) {
                $(".sublist:first", parent).hide(300);
                parent.removeClass('active');
            } else {
                $(".sublist:first", parent).show(300);
                parent.addClass('active');
            }


        });
    });

    $('li', '.top-menu').on('mouseenter', function () {
        $('a', $(this)).first().addClass('hover');
        if (!$(this).parent().hasClass('top-menu')) {
            var width = $(this).innerWidth();
            $('.sublist', $(this)).first().css('left', width + 15);
        }
        $('.sublist', $(this)).first().addClass('active');
        $('.top-menu-triangle', $(this)).addClass('active');
    });

    $('li', '.top-menu').on('mouseleave', function () {
        $('a', $(this)).first().removeClass('hover');
        $('.sublist', $(this)).first().removeClass('active');
        $('.top-menu-triangle', $(this)).removeClass('active');
    });

    //var s1 = $('a[href="' + this.location.pathname + '"]').parent().parent();



    //$(".sublist:first", s).show(300);
    //s.addClass('active');


    $(document).ready(function () {


        var attrName = $('a[href="' + this.location.pathname + '"]').attr("controller");

        //var s = $('a[href="' + this.location.pathname + '"]').parent();
        //var s3 = $('a[href="' + this.location.pathname + '"]').parent().attr('controller');
        //var s4 = $('a[href="' + this.location.pathname + '"]');
        //var s5 = $('li.top_menu_li_active');
        //var s6 = $('li.top_menu_li_active').attr('controller');
        //var s4 =$('a[href="' + this.location.pathname + '"]').parent().('selector').attr('href');
        //console.log(this.location.pathname);
        //console.log(s);
        //console.log(attrName);
        //console.log(s3);
        //console.log(s4);
        //console.log(attrName);
        $("a#" + attrName).click();


        //$(window).scroll(function () {
        //    if ($(".m-sec").hasClass("opened") == false) {
        //        var Fixde = $('#TestFixde_Menu'),
        //       scroll = $(window).scrollTop();
        //        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        //        //var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;
        //        var height = $(document).height();
        //        //var x = $(document).width();
        //        //console.log(scroll + "======" + width + "++" + height);
        //        var limit = $('.ep_footer1').offset().top - $(this).outerHeight(true) - 10;
        //        var xxx = Fixde.offset().top - $(this).outerHeight(true) - 10;
        //        var position = Fixde.offset();
        //        if (width <= 990 && width > 767) {
        //            if (scroll >= 916) Fixde.addClass('fixed');
        //            else Fixde.removeClass('fixed');
        //        }
        //        else if (width <= 767) {
        //            Fixde.removeClass('fixed');
        //        }
        //        else {
        //            if (scroll >= 436) Fixde.addClass('fixed');
        //            else Fixde.removeClass('fixed');
        //        }

        //        //console.log(position);
        //        //console.log(limit);
        //        //console.log(xxx);
        //    }
        //    else {
        //        $('#TestFixde_Menu').removeClass('fixed');
        //    }
        //});
    });
</script>
<style>
    /*.mCustomScrollBox .mCS-dark-thick{
        height:330px !important;
    }*/
    #Navigation_panel1 {
        height: 330px !important;
    }
</style>
@*<div style="width:100%" id="TestFixde_Menu">
    <div class="" style="top: 0px;">
        <div id="Navigation_panel1" class="navigation_panel catalog">
            <div id="category_menu_outer">

                <!--  Start Menu 		 -->
                <ul class="mob-top-menu-L show">
                    <li class="header-ul">
                        <span class="topic-ul">
                            <strong>
                                @T("_ComPro.LblMenuHeader")
                            </strong>
                        </span>
                    </li>

                    @foreach (var item in Model.Where(m => m.MenuLevel == 1))
                    {
                        <li>
                            <a id="@item.ControllerName">
                                @T(item.ResourceName)
                            </a>
                            <div class="top-menu-triangle"></div>
                            <span class="expand" id="@item.ControllerName">&nbsp;</span>
                            <div class="sublist firstLevel">
                                <ul>
                                    @foreach (var item1 in Model.Where(m => m.MenuLevel == 2 && m.ParentMenuID == item.MenuID))
                                    {
                                    <li controller="@item.ControllerName">
                                        <a href="~/@item1.ControllerName/@item1.ActionName" controller="@item.ControllerName">
                                            @T(item1.ResourceName)  
                                        </a>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }

                </ul>
                <!--  End Menu 		 -->

            </div>
        </div>
    </div>
</div>*@

@*<script>
    (function ($) {
        $(document).ready(function () {

            $('#cssmenu li.active').addClass('open').children('ul').show();
            $('#cssmenu li.has-sub>a').on('click', function () {
                $(this).removeAttr('href');
                var element = $(this).parent('li');
                if (element.hasClass('open')) {
                    element.removeClass('open');
                    element.find('li').removeClass('open');
                    element.find('ul').slideUp(200);
                }
                else {
                    element.addClass('open');
                    element.children('ul').slideDown(200);
                    element.siblings('li').children('ul').slideUp(200);
                    element.siblings('li').removeClass('open');
                    element.siblings('li').find('li').removeClass('open');
                    element.siblings('li').find('ul').slideUp(200);
                }
            });

        });
    })(jQuery);
</script>
<div id="cssmenu">
    <ul>
        <li>
            <a>
                <strong>
                    @T("_ComPro.LblMenuHeader")
                </strong>
            </a>
        </li>

        @foreach (var item in Model.Where(m => m.MenuLevel == 1))
        {
            <li class="has-sub">
                <a id="@item.ControllerName">
                    @T(item.ResourceName)
                </a>
                <span id="@item.ControllerName"></span>
                <ul>
                    @foreach (var item1 in Model.Where(m => m.MenuLevel == 2 && m.ParentMenuID == item.MenuID))
                    {
                        <li controller="@item.ControllerName">
                         
                            <a href="~/@item1.ControllerName/@item1.ActionName" controller="@item.ControllerName">
                                @T(item1.ResourceName)  
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>*@