/*.print_header{
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	padding:10px 0 10px 8px;
	font-family:Tahoma, Arial, Helvetica, Sans Serif;
	font-size:18px;
	font-weight:bold;
	height:22px;
}*/
.print_by{
	padding:8px 0 0 8px;
	font-family:Tahoma, Arial, Helvetica, Sans Serif;
	font-size:11px;
	font-weight:bold;
}
.note_to_supplier_dsp{
	padding:4px;	
}
.note_to_supplier_dsp ul{
	list-style:auto;
	display:block;
	margin:4px;
	padding:4px;
}
.note_to_supplier_dsp ol{
	list-style:auto;
	display:block;
	margin:4px;
	padding-left:20px;
}
.print_page{
	float:right;font-size:12px;font-weight:normal;font-family:Tahoma, Arial, Helvetica, Sans Serif;padding:4px 10px 0 2px;
}
.print_page_icon{
	float:right;padding:2px 2px 0 0;
}