﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.CompanyProfile.OrgProductGridViewModel>
@{
    int i = 0;
    
    string languageID = SupplierPortal.Framework.MethodHelper.GetCurrentLanguageHelper.GetStringLanguageIDCurrent();
    int languageId = Convert.ToInt32(languageID);

    var productTypeList = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetProductTypeGroup(languageId);
}
@foreach (var item in Model)
{
    i++;
    
    string linkDelete = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Submit\" onclick=\"return deleteDataProduct('" + item.ProductCode + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete Product\" >";

    string textProductType = "";
    textProductType += "<div id=\"radio\">";

    var productTypeChecked = SupplierPortal.Services.CompanyProfileManage.ComProfileService.GetProductTypeBySupplierIDAndProductCode(item.SupplierID, item.ProductCode);

    foreach (var itemList in productTypeList)
    {
        string checkedRadio = "";

        if (productTypeChecked.Exists(x => x.ProductTypeID == itemList.EntityID))
        {
            checkedRadio = "checked=\"checked\"";
        }
        else
        {

            checkedRadio = "";
        }
        textProductType += " <input type=\"checkbox\" id=\"radio" + item.ProductCode + "_" + itemList.EntityID + "\" name=\"radio" + item.ProductCode + "_" + itemList.EntityID + "\" value=\"" + itemList.EntityID + "\" " + checkedRadio + "> ";
        textProductType += " <label for=\"radio" + item.ProductCode + "_" + itemList.EntityID + "\">" + itemList.EntityValue + "</label> ";
    }
    
    textProductType += "</div>";

    <tr id="@item.ProductCode" class="numbered_row">
        <td class="row_number"></td>
        <td>
            @item.ProductName
            <input type="hidden" name="hidCode[]" value="@item.ProductCode" />
            <input type="hidden" name="hidOldProID_@item.ProductCode" value="@item.OldProdTypeID" />
        </td>
        <td>
            @Html.Raw(textProductType)
        </td>
        <td align="center">
            @Html.Raw(linkDelete)
        </td>
    </tr>
    
}
@if (i == 0)
{
    <tr class="numbered_row" id="lastData">
        <td align="center" colspan="4">@T("_ComPro.ProductInfo.TblProduct.LblNoData")</td>
    </tr>
}