﻿@model SupplierPortal.Data.Models.SupportModel.AccountPortal.LoginPortalModel
@using System.Web.Configuration;
@{
    ViewBag.Title = "Login - Supplier Web Work";
    Layout = "~/Views/Shared/_LayoutLoginPortal.cshtml";
    string LanguageId = (string)ViewBag.LanguageId;
    int lockedTime = ViewBag.lockTimeSeconds ?? 0;

    bool redirectToSC = !string.IsNullOrEmpty(WebConfigurationManager.AppSettings["join_now_url"]);
}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<div class="row">
    <div class="col-sm-3 col-sm-offset-7 ep_box_wrapper">
        <div class="ep_box_body">
            @using (Html.BeginForm("Login", "AccountPortal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
            {

                <div class="ep_box_content">
                    <div class="ep_box_topic">@T("_Login.LblMyAccount")</div>
                    <div class="ep_login_wrapper">
                        @Html.TextBoxFor(m => m.Username, new { @class = "username_txt_box", id = "username", maxlength = "50", placeholder = T("_Login.TxtUsername") })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger-bold" })
                    </div>
                    <div class="ep_pwd_wrapper">
                        @Html.PasswordFor(m => m.Password, new { @class = "pwd_txt_box", id = "password", maxlength = "50", placeholder = T("_Login.TxtPassword") })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-bold" })
                    </div>
                    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessage("Error", new { @class = "text-danger-bold" }).ToHtmlString()))
                    @*@Html.ValidationMessage("Error", new { @class = "text-danger-bold" })*@
                    @*<div id="login_error_box" class="login_error_box" style="display:block;">
                            <div id="login_error">
                                @{
                                    string validationMessage = string.Format(T("_Login.ValidateMsg.UsernameLock").ToString(), "5", "<span id='countDownTime'></span>");
                                    @Html.Raw(validationMessage)
                                }
                            </div>
                        </div>*@
                    <div class="ep_submit_wrapper">
                        <input type="submit" value="@T("_Login.BtnLogin")" class="btn_login" onclick="submitLogin();" />
                        @{
                            var spans = T("_login.Btnlink_Regis").ToString().Split('_').ToList();
                            if (spans.Count == 2)
                            {
                                if (redirectToSC)
                                {
                                    spans[1] = string.Format("<a href='{0}'>{1}</a>"
                                    , Url.Action("RedirectRegisterSC", "Redirect")
                                    , spans[1]);
                                }
                                else
                                {
                                    spans[1] = string.Format("<a href='{0}'>{1}</a>"
                                        , Url.Action("SupplierRegister", "Register")
                                        , spans[1]);
                                }
                            }
                        }
                        <span style='padding-left: 15px;color:#808080'>
                            @Html.Raw(string.Join("", spans))
                        </span>
                    </div>
                    <div class="ep_forgot_pwd">
                        @Html.ActionLink(T("_Login.LblForgotPassword").ToString(), "ForgotPasswordConfirmation", "AccountPortal")
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal modal-pdpa fade" id="termModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-agree">
        <div class="modal-content">
            <div class="modal-body p-0 overflow-hidden" style="overflow-y: auto;">
                <div class="nav-custom">
                    <div class="nav-tabs">
                        <a href=".tab-1" id="term_tab_1" data-toggle="tab" title="@T("_Agreement.TermAndCondition.TermService")" class="active" onclick="clickTabTermPrivacy('term_tab_1')">@T("_Agreement.TermAndCondition.TermService")</a>
                        <a href=".tab-2" id="term_tab_2" data-toggle="tab" title="@T("_Agreement.TermAndCondition.PrivacyPolicy")" onclick="clickTabTermPrivacy('term_tab_2')">@T("_Agreement.TermAndCondition.PrivacyPolicy")</a>
                        <div class="lang">
                            <div class="btn-group">
                                <img src="~/Content/images/icon/sphere.png" class="sphere" />
                                <a class="btn dropdown-toggle" id="lang_value" data-toggle="dropdown">
                                    EN
                                </a>
                                <ul class="dropdown-menu dropdown-pdpa" role="menu" aria-labelledby="dLabel">
                                    <li>
                                        <a href="#" id="term_lang_en" data-title="EN" class="dropdown-item active" onclick="clickSwitchTermLanguage('term_lang_en')">English</a>
                                    </li>
                                    <li>
                                        <a href="#" id="term_lang_th" data-title="TH" class="dropdown-item" onclick="clickSwitchTermLanguage('term_lang_th')">ภาษาไทย</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @*EN*@
                    <div id="term_content" class="tab-content">
                        <div class="tab-1 tab-pane active">
                            <div id="term_content_en">
                                @Html.Raw(WebUtility.HtmlDecode(@ViewBag.TermAndConditionEN))
                            </div>
                            <div id="term_content_th">
                                @Html.Raw(WebUtility.HtmlDecode(@ViewBag.TermAndConditionTH))
                            </div>
                        </div>
                        <div class="tab-2 tab-pane">
                            <div id="notice_content_en">
                                @Html.Raw(WebUtility.HtmlDecode(@ViewBag.PrivacyNoticeEN))
                            </div>
                            <div id="notice_content_th">
                                @Html.Raw(WebUtility.HtmlDecode(@ViewBag.PrivacyNoticeTH))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="float-custom">
                    <button type="button" id="btnTermDecline" data-dismiss="modal" class="btn btn-noborder">
                        @T("_Agreement.TermAndCondition.DeclineLogOut")
                    </button>
                    <button type="button" id="btnTermApprove" class="btn btn-primary">
                        @T("_Agreement.TermCondition.BtnOk")
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

        function clickTabTermPrivacy(tabId) {
            var tabChange = 'term_tab_1';
            if (tabId == 'term_tab_1') {
                tabChange = 'term_tab_2';
            }

            $("#" + tabChange).removeClass("active");
            $("#" + tabId).addClass("active");
        }

        function clickSwitchTermLanguage(lang) {
            var langChange = 'term_lang_th';
            var langId = 1;
            if (lang == 'term_lang_th') {
                langChange = 'term_lang_en';
                langId = 2;
            }

            $("#" + langChange).removeClass("active");
            $("#" + lang).addClass("active");

            setDropdownTermCondition(langId);
        }

        function setDropdownTermCondition(langId) {
             if (langId == 1) {
                $('#term_content_en').show();
                $('#term_content_th').hide();

                $('#notice_content_en').show();
                $('#notice_content_th').hide();

                $('#lang_value').text('EN')
            }

            if (langId == 2) {
                $('#term_content_en').hide();
                $('#term_content_th').show();

                $('#notice_content_en').hide();
                $('#notice_content_th').show();

                $('#lang_value').text('TH')
            }
        }

        $('.dropdown-toggle').dropdown()

        $(window).load(function () {
            clickTabTermPrivacy('term_tab_2')
            setDropdownTermCondition(@LanguageId);
            if ("@ViewBag.IsShowModalTerm" == "True") {
                $('#termModal').modal({ 'show': true, backdrop: 'static', keyboard: false });
            }
        });

        $("#termModal .close").click(function () {
            $('#termModal').modal('toggle');
            disablePage();
            signOut();
        });

        $("#btnTermApprove").click(function () {
            var origin = $(location).attr('origin');
            disablePage();
            $.ajax({
                url: '@Url.Action("AcceptTermAndCondition", "UserCOC")',
                type: 'POST',
                data: '',
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    $('#termModal').modal('toggle');
                    window.location = origin + "/Home/Index"
                },
                fail: function (event, data) {
                    window.location = origin + "/AccountPortal/Login"
                }
            });
        });

        $("#btnTermDecline").click(function () {
            disablePage();
            signOut();
        });


        function signOut() {
            var origin = $(location).attr('origin');
            disablePage();
            $.ajax({
                url: '@Url.Action("GotoIndex", "UserPDPA")',
                type: 'POST',
                data: '',
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    window.location = origin + "/AccountPortal/Login"
                },
                fail: function (event, data) {
                    window.location = origin + "/AccountPortal/Login"
                }
            });
        }

</script>


@{ Html.RenderAction("NewsFeedsPartial", "AccountPortal"); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    var isLocked = document.getElementById('countDownTime');

    var now = new Date();
    now.setSeconds(now.getSeconds() + @lockedTime);

    var countDownDate = now.setMinutes(now.getMinutes() + (30 / 60));

    //var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        var strCountDown = "";
        if (days > 0)
        {
            strCountDown += days + "d ";
        }
        if (hours > 0) {
            strCountDown += hours + "h ";
        }
        if (minutes > 0) {
            strCountDown += minutes + "m ";
        }
        // Output the result in an element with id="demo"
        document.getElementById("countDownTime").innerHTML = strCountDown + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countDownTime").innerHTML = "0 s";
        }
    }, 1000);

    if (isLocked === null)
    {
        clearInterval(x);
    }

    function submitLogin() {
        //var chkUsername = $("#username").hasClass("valid");
        //var chkPassword = $("#password").hasClass("valid");
        //if (chkUsername && chkPassword) {
        //    disablePage();
        //}
        var $form = $("#form-login");
        if ($form.valid()) {
            disablePage();
            //$form.submit();
        }
    }
</script>
