﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyShareholderModel

<select id="CountryCode" name="CountryCode">
    <option value="@Model.CountryCode" selected="selected">@Model.CountryName</option>
</select>

