﻿@using SupplierPortal.Data.Models.MappingTable
@using SupplierPortal.Data.Models.SupportModel.CompanyProfile

@model IEnumerable<CompanyShareholderModel>
@{
    int i = 0;
    TempData["TempShareholder"] = Model;
    TempData.Keep("TempShareholder");
    var modelItemIndex = 1;

    string countryCode = Model.Select(m => m.CountryCode).FirstOrDefault();

    string colCaptionLocalName = "";
    string colCaptionInterName = "";
   
    
    if (countryCode == "TH")
    {
        colCaptionLocalName = T("_ComPro.Shareholder.TblShareholder.ColCaption.THLocalName").ToString();
        colCaptionInterName = T("_ComPro.Shareholder.TblShareholder.ColCaption.THInterName").ToString();
       
    }else
    {
        colCaptionLocalName = T("_ComPro.Shareholder.TblShareholder.ColCaption.NonTHLocalName").ToString();
        colCaptionInterName = T("_ComPro.Shareholder.TblShareholder.ColCaption.NonTHInterName").ToString();
        
    }
}


<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="listUserShareholder">
    <thead>
        <tr class="regis_table_header">
            <td width="5%">@T("_ComPro.Shareholder.TblShareholder.ColCaption.No")</td>
            <td width="27%">@colCaptionLocalName</td>
            <td width="27%">@colCaptionInterName</td>
            <td width="15%">@T("_ComPro.Shareholder.TblShareholder.ColCaption.Country")</td>
            <td width="16%">@T("_ComPro.Shareholder.TblShareholder.ColCaption.IdentityNo")</td>
            <td width="10%">@T("_ComPro.Shareholder.TblShareholder.ColCaption.Action")</td>
        </tr>
    </thead>
    <tbody id="p_scents">

        @foreach (var item in Model)
        {
            i++;
        <tr class="main_table_row numbered_row" id="@item.IdentityNo">
            <td align="center" class="row_number">@modelItemIndex</td>
            <td align="left">@item.TitleName@item.FirstName_Local @item.LastName_Local</td>
            <td align="left">@item.TitleName_Inter@item.FirstName_Inter @item.LastName_Inter</td>
            <td align="center">@item.CountryName</td>
            <td align="center">@item.IdentityNo</td>
            <td align="center">
                @*<a href="#" class="btn-edit" data-id="@item.Id"><i class="glyphicon glyphicon-edit"></i></a>
                    |
                    <a href="#" class="btn-delete" data-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></a>*@
                @Html.Raw(Ajax.ActionLink("edit", "EditShareholder", new { id = item.Id },
                 new AjaxOptions()
                 {
                     UpdateTargetId = "fmUpdateShareholder",
                     InsertionMode = InsertionMode.ReplaceWith,
                     OnComplete = "GetCountryAutocomplete();"
                 },

                     new { id = "editShareholder" })
                                  .ToHtmlString()
                                 .Replace("edit", "<img src='/Content/images/icon/ico-sp_edituser2.gif' />").ToString())

                <a href="@Url.Action("ShareholderTemplate", "AdditionalInformation", new { id = item.Id, command = "delete" })">
                    <img src='/Content/images/icon/ico-sp_deluser2.gif' />
                </a>
                @*@Html.Raw(Ajax.ActionLink("_delete_", "ShareholderTemplate", new { id = item.Id, command = "delete" },
                 new AjaxOptions()
                    {
                        UpdateTargetId = "listUserShareholder",
                        OnSuccess = "formDeleteSuccess"
                    }, new { id = "deleteShareholder" })
                                  .ToHtmlString()
                                    .Replace("_delete_", "<img src='/Content/images/icon/ico-sp_deluser2.gif' />").ToString())*@
            </td>
        </tr>
            modelItemIndex++;
        }
        @if (i == 0)
        {
        <tr class="main_table_row numbered_row">
            <th style="text-align: center" colspan="6"><h6>No Data</h6></th>
        </tr>
        }

    </tbody>
</table>


