﻿@using SupplierPortal.Data.Models.MappingTable
@using SupplierPortal.Data.Models.SupportModel.CompanyProfile

@model IEnumerable<CompanyShareholderModel>
@{
    ViewBag.Title = "_ShareholderPartial";
    Layout = null;
    var supplierID = (Model.FirstOrDefault() ?? new CompanyShareholderModel()).SupplierID;
    var command = (ViewBag.Command ?? "add") as string;

}
@*@using (Html.BeginForm("Shareholder", "AdditionalInformation", FormMethod.Post, new { id = "SupplierID" }))
    {
        @Html.Hidden("SupplierID", supplierID)
    }*@
@*<div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Shareholder", "AdditionalInformation", FormMethod.Post))
            {

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnSubmit">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12 col-md-12">

                        @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                        <div class="pull-right">
                            @Ajax.ActionLink(T("_ComPro.Shareholder.Btn.Reset").ToString(), "ResetShareholder", null, new AjaxOptions() { UpdateTargetId = "fmUpdateShareholder", InsertionMode = InsertionMode.ReplaceWith, OnComplete = "GetCountryAutocomplete();" }, new { id = "btnReset", @class = "btn btn-default", data_dismiss = "modal" })
                            <button type="submit" class="btn btn-primary" id="btnSubmitShare">@T("_ComPro.RefCustomer.Btn.Save")</button>
                        </div>
                    </div>
                </div>

                <div class="data_end" style="padding-top:20px;"></div>

                <div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial(@"~/Views/AdditionalInformation/_ShareTampTablePatrtial.cshtml", Model)
                        </div>
                    </div>
                    <div class="data_end" style="padding-top:10px;"></div>
                    <div class="row">
                        <div class="collapse in col-md-12" id="form-toggle">
                            @Html.Partial(@"~/Views/AdditionalInformation/_ShareTampFormPatrial.cshtml", ViewBag.DefaultShareholder as SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyShareholderModel)
                        </div>
                    </div>
                    <div class="data_end" style="padding-top:20px;"></div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">

                        @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                        <div class="pull-right">
                            @Ajax.ActionLink(T("_ComPro.Shareholder.Btn.Reset").ToString(), "ResetShareholder", null, new AjaxOptions() { UpdateTargetId = "fmUpdateShareholder", InsertionMode = InsertionMode.ReplaceWith ,OnComplete= "GetCountryAutocomplete();" }, new { id = "btnReset", @class = "btn btn-default", data_dismiss = "modal" })
                            <button type="submit" class="btn btn-primary" id="btnSubmitShare1">@T("_ComPro.RefCustomer.Btn.Save")</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $("#btnSubmitShare").click(function (evt) {
        var $form = $("#fmUpdateShareholder");
       
        if ($form.valid()) {
            disablePage();
            //$form.submit();
            document.getElementById("fmUpdateShareholder").submit();
        } else {
            $form.submit(function (e) {
                return false;
            });
        }

    });
    $("#btnSubmitShare1").click(function (evt) {
        var $form = $("#fmUpdateShareholder");

        if ($form.valid()) {
            disablePage();
            //$form.submit();
            document.getElementById("fmUpdateShareholder").submit();
        } else {
            $form.submit(function (e) {
                return false;
            });
        }

    });
</script>




