﻿@*@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_BillingDetail> ปปป*@
@using SupplierPortal.Data.Models.SupportModel.BillingDetail;
@model BillingAndPaymentModels
@{
    ViewBag.Title = "Billing & Payment";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
@*<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#btShowCustomizationWindow").click(

            function () {
                UpdateCustomizationWindowVisibility();
            }
        );
    });

    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (GridView_Billing.IsCustomizationWindowVisible())
            GridView_Billing.HideCustomizationWindow();
        else
            GridView_Billing.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = GridView_Billing.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Field List";
        $("#btShowCustomizationWindow").val(text);
    }

    function OnEndCallback(s, e) {

        if (s.cpVisibleRowCount > 0) { //When Search Have Result
            //----Set Enable Button Show Field List & DownLoad to Excel----
            setEnable(1);
            //----Hide Result No Records----
            //$("#no_result").hide();
            //----Show Result ... Records----
            //$("#have_result").show();
            //$("#total_record_display").html(addCommas(s.cpVisibleRowCount));
        }
        else { //When Search No Result
            //----Set Enable Button Show Field List & DownLoad to Excel----
            setEnable(0);
            //----Show Result No Records----
            //$("#no_result").show();
            //----Hide Result ... Records----
            //$("#have_result").hide();
        }
    }

    function ExpandAll() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });

        $.ajax({
            type: "POST",
            cache: false,
            url: 'ExpandAll',
            success: function (data) {
                GridView_Billing.PerformCallback();
                $.unblockUI();
            },
            error: function (data) {
                $.unblockUI();
            }
        });
    }

    function CollapseAll() {
        //alert("123");
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });

        $.ajax({
            type: "POST",
            cache: false,
            url: 'CollapseAll',
            success: function (data) {
                GridView_Billing.PerformCallback();
                $.unblockUI();
            },
            error: function (data) {
                $.unblockUI();
            }
        });
    }


</script>
@*<div id="loadingMsg" style="display:none;">
        <img src="~/Content/images/loading8-1.gif" />
    </div>*@

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="container">

    <div class="row">
        <div class="data_end"></div>
        <div class="ep_badge_green_edge"></div>
        <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.Billing")</div>
        <div class="data_end" style="padding-top:40px;"></div>
    </div>

    <div class="row">
        <div class="data_end" style="padding-top:25px;"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="note_text_block">
                @*   @T("_Billing.Lbl.Note")*@
            </div>
        </div>
    </div>

    @*.col-sm-5 .col-md-6 .col-xs-6 .col-lg-4*@
    @* col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0 .col-xs-6 .col-lg-4 *@

    <div class="row">
        <div class="col-md-12 col-xs-12">
            @*style="float:right;margin-right:-220px;"*@
            @*<div class='page_search_topic '>
                <div class="col-md-6 col-xs-6 " id='report_name'>
                    <p class="text-left">@T("_Billing.TableTitle")</p>
                </div>
                <div class="ep_paddingRight"> </div>
                <div class="col-md-6 col-xs-6">
                    <p class="text-right">@T("_Billing.TblBilling.Title.UpdateDate") @Model.dateTime</p>
                </div>
            </div>*@
            @*<div class='data_end'></div>*@
            @*<div class='page_sub_topic'>
                <div id='have_result' class='search_result' style='display:none;'>
                                Search Results : <span id='total_record_display'></span>&nbsp;Records
                    </div>
                            <div id='no_result' class='search_result' style='display:none;'>
                                Search Results : No Record
                            </div>
                <div style='float:right;padding:4px 5px 0 0;'>
                        <input class='btn' type='submit' value='Download to Excel' name='action:Export_Cust' id='Export' />
                    </div>
                <div style='float:right;padding:4px 5px 0 0;'>
                    <input class='btn btn-default' type='button' id='btShowCustomizationWindow' value='Show Field List' />
                </div>
                <div style='float:right;padding:4px 5px 0 0;'>
                    <input class='btn btn-default' type='button' id='btn_ColAll' value='Collapse All' onclick='javascript:CollapseAll();' />
                </div>
                <div style='float:right;padding:4px 5px 0 0;'>
                    <input class='btn btn-default' type='button' id='btn_ExAll' value='Expand All' onclick='javascript:ExpandAll();' />
                </div>
            </div>*@
            @Html.Partial(@"~/Views/BillingAndPayment/_GridViewPartial_Billing.cshtml")
        </div>
    </div>


    <div class="row ">

        <p style="margin-right:15px;float:right;">
            @T("_Billing.TblBilling.Caption.EndTable")
        </p>

        @*<div class="text_end">
                <div class=".col-sm-5 .col-md-6" style='float:left;' id='report_name'></div>
                <div class="col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0 set_textRight"><p class="set_textRight"> @T("_Billing.TblBilling.Caption.EndTable")</p></div>
            </div>*@
    </div>
    @*style="float:right;margin-right:-220px"*@

    <div class="row">



        @*<div class="billing_content_block">*@

        @*@Html.Raw(@TP("BillingAndPayment.Topic.Payment"))*@
        @TP("BillingAndPayment.Topic.Payment")
    </div>


    <div style="padding-top:80px;">
    </div>
</div>

@*</div>*@

<script type="text/javascript">
    //----Set Enable/Disable Button Show Field List & Download Export----
    function setEnable(flag) {
        if (flag == 1) {
            //document.getElementById("Export").removeAttribute('disabled');
            document.getElementById("btShowCustomizationWindow").removeAttribute('disabled');
            //document.getElementById("Export").setAttribute('enabled', 'enabled');
            document.getElementById("btShowCustomizationWindow").setAttribute('enabled', 'enabled');

            document.getElementById("btn_ExAll").removeAttribute('disabled');
            document.getElementById("btn_ColAll").removeAttribute('disabled');
            document.getElementById("btn_ExAll").setAttribute('enabled', 'enabled');
            document.getElementById("btn_ColAll").setAttribute('enabled', 'enabled');
        } else {
            //document.getElementById("Export").removeAttribute('enabled');
            document.getElementById("btShowCustomizationWindow").removeAttribute('enabled');
            //document.getElementById("Export").setAttribute('disabled', 'disabled');
            document.getElementById("btShowCustomizationWindow").setAttribute('disabled', 'disabled');

            document.getElementById("btn_ExAll").removeAttribute('enabled');
            document.getElementById("btn_ColAll").removeAttribute('enabled');
            document.getElementById("btn_ExAll").setAttribute('disabled', 'disabled');
            document.getElementById("btn_ColAll").setAttribute('disabled', 'disabled');
        }
    }

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
</script>







