﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.Profile.UserServiceAvailableModels>
@{
    string displayCss = "";           
}

<table width="50%" border="0" cellpadding="0" cellspacing="0" align="left" class="main_table">
    <thead>
        <tr class="regis_table_header">
            <td>@T("_Profile.MyAccount.UserService.PnlTitle.ServiceList")</td>
        </tr>
    </thead>
    <tbody>
             @foreach (var item in Model)
             {
                 if (item.IsActive > 0 && item.IsEnableService > 0)
                 {
                     displayCss = "profile-service-icon";
                 }else
                 {
                     displayCss = "profile-service-icon-gray";
                 }
                <tr class="profile_table_row">
                    <td>
                        <div class ="@displayCss">
                        <span class="form_label_bold" style="padding-left:25px;">@item.ServiceName</span>
                        </div>
                        

                    </td>
                </tr>

             }
    </tbody>
</table>
