﻿@using Newtonsoft.Json
@{
    string usernameFilter = ViewBag.UsernameFilter;

    var usernameCurrent = (Session["username"] as string) ?? "";
    var usernameCurrentUpper = usernameCurrent.ToUpper();

    bool isAdminBSP = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdminBestSupply(usernameCurrent);
    bool isBSPNonConnecting = SupplierPortal.Services.ProfileManage.ProfileManage.CheckBestSupplyIsSuspendOrCancelledAndNonisAllowConnecting(usernameCurrent);
    bool chkUserMapping = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsUserSystemMappingMenuByGroup(usernameCurrent, 1);

    var sysRoleID = -1;
    var roles = SupplierPortal.Services.ProfileManage.ProfileManage.RoleSelectList(1, sysRoleID);
    var options = "<option value>" + T("_Profile.UserInformation.DdlOPRoleName.OptionLable").ToString() + "</option>";
    foreach (var role in roles)
    {
        options += "<option value=" + role.SysRoleID + ">" + role.SysRoleName + "</option>";
    }

    //// Get username from session
    //var username = "";
    //if (Session["username"] != null)
    //{
    //    username = Session["username"].ToString();
    //}

    //var query = SupplierPortal.Services.ProfileManage.ProfileManage.ListAllUserInformation(username);
    //var json = JsonConvert.SerializeObject(query.ToList());
}
@*@Html.DevExpress().GridView(
    settings =>
    {

        settings.Name = "GridView_UserInformation";
        settings.CallbackRouteValues = new { Controller = "Profile", Action = "GridViewUserinfotmationPart" };

        settings.KeyboardSupport = true;
        settings.AccessKey = "G";
        settings.KeyFieldName = "UserID";
        settings.Theme = "Metropolis";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.Styles.Header.BackgroundImage.ImageUrl = Url.Content("~/Content/imagescss/fhbg.gif");
        settings.Styles.Header.ForeColor = System.Drawing.Color.Black;
        settings.Styles.Header.Font.Bold = true;

        settings.Styles.Header.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

        settings.Styles.AlternatingRow.Enabled = DefaultBoolean.True;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.Color.White;
        settings.Styles.Row.BackColor = System.Drawing.Color.FromArgb(241, 241, 241);

        settings.Styles.FocusedGroupRow.BackColor = System.Drawing.Color.Gainsboro;
        settings.Styles.FocusedGroupRow.ForeColor = System.Drawing.Color.Black;

        settings.Styles.FocusedRow.BackColor = System.Drawing.Color.FromArgb(241, 241, 241);
        settings.Styles.FocusedRow.ForeColor = System.Drawing.Color.FromArgb(51, 51, 51);

        settings.SettingsPager.PageSize = 10;
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowFilterRowMenu = true;
        settings.Settings.ShowFilterRowMenuLikeItem = true;
        settings.SettingsBehavior.AutoFilterRowInputDelay = 20000;
        settings.Settings.ShowFooter = true;
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsPager.ShowSeparators = true;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsPopup.HeaderFilter.Height = 200;
        //settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Pixel(35);

        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100", "500", "1000" };

        settings.Settings.GridLines = System.Web.UI.WebControls.GridLines.Vertical;
        //settings.Styles.CommandColumn.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
        //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
        //settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;


        settings.Columns.Add(column =>
        {
            column.FieldName = "Fullname";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.Name").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(16);
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            //column.CellStyle.Paddings.PaddingLeft = System.Web.UI.WebControls.Unit.Pixel(5);

            column.SetDataItemTemplateContent(c =>
            {
                var nameTitle = (string)DataBinder.Eval(c.DataItem, "TitleContactName").ToString();
                var fullName = (string)DataBinder.Eval(c.DataItem, "Fullname").ToString();

                ViewContext.Writer.Write(nameTitle + fullName);
            });

        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Username";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.Username").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(9);
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            //column.CellStyle.Paddings.PaddingLeft = System.Web.UI.WebControls.Unit.Pixel(5);
        });

        if(!string.IsNullOrEmpty(usernameFilter))
        {
            settings.PreRender = (s, e) =>
            {
                ((MVCxGridView)s).FilterExpression = "[Username] = '" + usernameFilter + "'";
            };
        }


        settings.Columns.Add(column =>
        {
            column.FieldName = "JobTitleName";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.JobTitle").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(13);
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.CellStyle.Paddings.PaddingLeft = System.Web.UI.WebControls.Unit.Pixel(5);

            column.SetDataItemTemplateContent(c =>
            {
                int jobTitleID = (int)DataBinder.Eval(c.DataItem, "JobTitleID");
                string jobTitle = (string)DataBinder.Eval(c.DataItem, "JobTitleName");
                string otherJobTitle = (string)DataBinder.Eval(c.DataItem, "OtherJobTitle");
                string jobTitleName = "";

                if (jobTitleID != -1)
                {
                    jobTitleName = jobTitle;
                }else
                {
                    jobTitleName = jobTitle + " (" + otherJobTitle + ")";
                }
                var fullName = (string)DataBinder.Eval(c.DataItem, "Fullname").ToString();

                ViewContext.Writer.Write(jobTitleName);
            });

        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Tel";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.Tel").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Mobile";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.Mobile").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Email";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.Email").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(18);
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "OPChecked";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.isEnableOP").ToString();
            //column.Width = System.Web.UI.WebControls.Unit.Percentage(5);
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.Settings.ShowFilterRowMenu = DefaultBoolean.False;
            column.Settings.AllowHeaderFilter = DefaultBoolean.False;
            column.Settings.AllowAutoFilter = DefaultBoolean.False;
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = System.Web.UI.WebControls.Unit.Percentage(8);

            string usernameCurrent = "";
            if (Session["username"] != null)
            {
                usernameCurrent = Session["username"].ToString();
            }
            bool isAdminBSP = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdminBestSupply(usernameCurrent);

            bool isBSPNonConnecting = SupplierPortal.Services.ProfileManage.ProfileManage.CheckBestSupplyIsSuspendOrCancelledAndNonisAllowConnecting(usernameCurrent);

            column.SetDataItemTemplateContent(c =>
            {
                var _chk = Convert.ToBoolean((int)DataBinder.Eval(c.DataItem, "OPChecked"));
                string ischecked = _chk ? "checked=\"checked\"" : "";

                string username = (string)DataBinder.Eval(c.DataItem, "Username").ToString();

                string isdisabled = "";
                string userID = (string)DataBinder.Eval(c.DataItem, "UserID").ToString();

                if (!isAdminBSP || isBSPNonConnecting)
                {
                    isdisabled = "disabled = \"disabled\"";
                    ViewContext.Writer.Write("<input type=\"checkbox\" name=\"chk_" + userID + "\" id=\"chk_" + userID + "\" value=\"true\" " + ischecked + " " + isdisabled + "  />");
                    //ViewContext.Writer.Write("<input type=\"hidden\" name=\"chk_" + userID + "\" id=\"hidchk_" + userID + "\" value=" + _chk.ToString() + "  />");
                }else
                {
                    if (username.ToUpper() == usernameCurrent.ToUpper())
                    {
                        isdisabled = "disabled = \"disabled\"";
                        ViewContext.Writer.Write("<input type=\"checkbox\" name=\"chk_" + userID + "\" id=\"chk_" + userID + "\" value=\"true\" " + ischecked + " " + isdisabled + "  />");
                        ViewContext.Writer.Write("<input type=\"hidden\" name=\"chk_" + userID + "\" id=\"hidchk_" + userID + "\" value=" + _chk.ToString() + "  />");
                    }else
                    {
                        isdisabled = "";
                        ViewContext.Writer.Write("<input onclick=\"OPChecked('" + userID + "');\" type=\"checkbox\" name=\"chk_" + userID + "\" id=\"chk_" + userID + "\" value=\"true\" " + ischecked + " " + isdisabled + "  />");
                    }
                }
            });
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "OPRoleName";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.SysRole").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(12);
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.Settings.ShowFilterRowMenu = DefaultBoolean.False;
            column.Settings.AllowHeaderFilter = DefaultBoolean.False;
            column.Settings.AllowAutoFilter = DefaultBoolean.False;
            column.Settings.AllowSort = DefaultBoolean.False;

            string usernameCurrent = "";
            if (Session["username"] != null)
            {
                usernameCurrent = Session["username"].ToString();
            }
            bool isAdminBSP = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdminBestSupply(usernameCurrent);

            bool isBSPNonConnecting = SupplierPortal.Services.ProfileManage.ProfileManage.CheckBestSupplyIsSuspendOrCancelledAndNonisAllowConnecting(usernameCurrent);

            column.SetDataItemTemplateContent(c =>
            {
                bool _chk = Convert.ToBoolean((int)DataBinder.Eval(c.DataItem, "OPChecked"));
                string isdisabled = _chk ? "" : "disabled";

                string oPRoleName = (string)DataBinder.Eval(c.DataItem, "OPRoleName");
                string userID = (string)DataBinder.Eval(c.DataItem, "UserID").ToString();
                string username = (string)DataBinder.Eval(c.DataItem, "Username").ToString();
                int oPRoleID = (int)DataBinder.Eval(c.DataItem, "OPRoleID");

                //if (oPRoleID == 0)
                //{
                //    oPRoleID = 3;
                //}
                int sysRoleID = -1;
                if (!isAdminBSP || isBSPNonConnecting)
                {
                    ViewContext.Writer.Write(oPRoleName);
                    ViewContext.Writer.Write(@Html.Hidden("RoleID_" + userID, oPRoleID));
                }
                else
                {
                    if (username.ToUpper() == usernameCurrent.ToUpper())
                    {
                        ViewContext.Writer.Write(oPRoleName);
                        ViewContext.Writer.Write(@Html.Hidden("RoleID_" + userID, oPRoleID, new { @id = "SysRoleID_" + userID }));

                    }else
                    {
                        if (_chk)
                        {
                            ViewContext.Writer.Write(@Html.DropDownList("RoleID_" + userID, new SelectList(SupplierPortal.Services.ProfileManage.ProfileManage.RoleSelectList(1, sysRoleID), "SysRoleID", "SysRoleName", oPRoleID), @T("_Profile.UserInformation.DdlOPRoleName.OptionLable").ToString(), new { @class = "form-control custom", id = "SysRoleID_" + userID, @style = "width: 110px;" }));
                        }else
                        {
                            ViewContext.Writer.Write(@Html.DropDownList("RoleID_" + userID, new SelectList(SupplierPortal.Services.ProfileManage.ProfileManage.RoleSelectList(1, sysRoleID), "SysRoleID", "SysRoleName", oPRoleID), @T("_Profile.UserInformation.DdlOPRoleName.OptionLable").ToString(), new { @class = "form-control custom", id = "SysRoleID_" + userID, @style = "width: 110px;", @disabled = "disabled" }));
                        }
                        ViewContext.Writer.Write("<span id=\"validatRole_" + userID + "\"  class=\"text-danger-bold\" style=\"display:none;\">");
                        ViewContext.Writer.Write(@T("_Profile.UserInformation.ValidateMsg.RequireSysRole").ToString());
                        ViewContext.Writer.Write("</span>");
                        //ViewContext.Writer.Write(@Html.DropDownList("RoleID_" + userID, new SelectList(SupplierPortal.Services.ProfileManage.ProfileManage.RoleSelectList(1, sysRoleID), "SysRoleID", "SysRoleName", oPRoleID), @T("_Profile.UserInformation.DdlOPRoleName.OptionLable").ToString(), new { @class = "form-control custom", id = "SysRoleID_" + userID, @style = "width: 110px;" }));
                    }
                }
            });
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "UserID";
            column.Caption = T("_Profile.UserInformation.TblUserList.ColCaption.Action").ToString();
            column.Width = System.Web.UI.WebControls.Unit.Percentage(9);
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
            column.CellStyle.Paddings.PaddingLeft = System.Web.UI.WebControls.Unit.Pixel(6);
            column.Settings.ShowFilterRowMenu = DefaultBoolean.False;
            column.Settings.AllowHeaderFilter = DefaultBoolean.False;
            column.Settings.AllowAutoFilter = DefaultBoolean.False;
            column.Settings.AllowSort = DefaultBoolean.False;


            string usernameCurrent = "";
            if (Session["username"] != null)
            {
                usernameCurrent = Session["username"].ToString();
            }
            bool isAdminBSP = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdminBestSupply(usernameCurrent);

            bool isBSPNonConnecting = SupplierPortal.Services.ProfileManage.ProfileManage.CheckBestSupplyIsSuspendOrCancelledAndNonisAllowConnecting(usernameCurrent);

            bool chkUserMapping = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsUserSystemMappingMenuByGroup(usernameCurrent, 1);

            if (!isAdminBSP || !chkUserMapping || isBSPNonConnecting)
            {
                column.Visible = false;
            }
            column.SetDataItemTemplateContent(c =>
            {
                string textSave = "";
                string textEdit = "";

                string userID = (string)DataBinder.Eval(c.DataItem, "UserID").ToString();

                bool isUserOPMapping = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsUserSystemMappingByUserID(Convert.ToInt32(userID), 1);

                bool isUserOPMappingEnableService = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsUserSystemMappingEnableServiceByUserID(Convert.ToInt32(userID), 1);

                if (isAdminBSP)
                {
                    textSave = "<input id=\"save_" + userID + "\" type=\"image\" src=\"/Content/images/icon/ico-sp_savesetting.gif\" alt=\"Submit\" onclick=\"saveUserBSP('" + userID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"" + @T("_Profile.TblUserList.Tooltip.Action.Save") + "\" >";

                    if (isUserOPMappingEnableService)
                    {
                        textEdit = "<input id=\"edit_" + userID + "\" type=\"image\" src=\"/Content/images/icon/ico-sp_edituser2.gif\" alt=\"Submit\" onclick=\"editUserBSP('" + userID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"" + @T("_Profile.TblUserList.Tooltip.Action.Edit") + "\" >";

                    }else
                    {
                        textEdit = "";
                    }

                }else
                {
                    textSave = "";
                    textEdit = "";
                }
                ViewContext.Writer.Write(textSave + "&nbsp;&nbsp;&nbsp;" + textEdit);
                ViewContext.Writer.Write(@Html.Hidden("OPMapping_" + userID, isUserOPMapping, new { @id = "OPMapping_" + userID }));
                ViewContext.Writer.Write(@Html.Hidden("OPMappingEnableService_" + userID, isUserOPMappingEnableService, new { @id = "OPMappingEnableService_" + userID }));
            });

        });


    }).BindToLINQ(string.Empty, string.Empty, (s, e) =>
    {
        var dataContext = SupplierPortal.Services.ProfileManage.ProfileManage.UserInformationList(ViewBag.OrgID);
        e.QueryableSource = dataContext;
        e.KeyExpression = "UserID";
    }).GetHtml()*@

<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />
@*<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />*@
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/dataTables.bootstrap.js"></script>
<div id="container">
    <div id="demo">
        <table id="myDataTable" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.Name").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.Username").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.JobTitle").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.Tel").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.Mobile").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.Email").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.isEnableOP").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.SysRole").ToString()</th>
                    <th>@T("_Profile.UserInformation.TblUserList.ColCaption.Action").ToString()</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<style>
    #myDataTable th {
        text-align: center;
    }

    td.align_center {
        text-align: center;
    }
</style>
<script>
    $(document).ready(function () {

        var table = $('#myDataTable').dataTable({
            //"language": {
            //    "lengthMenu": "Display _MENU_ records per page",
            //    "zeroRecords": "Nothing found - sorry",
            //    "info": "Showing page _PAGE_ of _PAGES_",
            //    "infoEmpty": "No records available",
            //    "infoFiltered": "(filtered from _MAX_ total records)"
            //},
            "language": {
                "lengthMenu": "Display _MENU_ records per page",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "paginate": {
                    "previous": "@T("_Global.BtnPrevious").ToString()",
                    "next": "@T("_Global.BtnNext").ToString()"
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200], [10, 25, 50, 100, 200]],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "order": [[0, "asc"]],
            "ajax": {
                "url": "@Url.Action("GridViewUserinfotmationPartDT", "Profile")",
                "type": "POST",
                "datatype": "json"
            },
            @*"ajax": {
                "type": "POST",
                "url": '@Url.Action("GridViewUserinfotmationPartDT", "Profile")',
                "contentType": 'application/json; charset=utf-8',
                "data": function (data) { return data = JSON.stringify(data); }
            },*@
            "columns": [
               {
                   "data": null,
                   "orderable": true,
                   "render": function (row) {
                       var titleName = row.TitleContactName;
                       var fullName = row.Fullname;

                       return titleName + fullName;
                   }
               },
               {
                   "data": "Username",
                   "orderable": true
               },
               {
                   "data": null,
                   "orderable": true,
                   "render": function (row) {
                       var jobTitleId = row.JobTitleID;
                       var jobTitleName = row.JobTitleName;
                       var jobTitleOther = row.OtherJobTitle;
                       var jobTitleFullName = "";

                       if (jobTitleId != -1) {
                           jobTitleFullName = jobTitleName;
                       } else {
                           jobTitleFullName = jobTitleName + " (" + jobTitleOther + ")";
                       }

                       return jobTitleFullName;
                   }
               },
               {
                   "data": "Tel",
                   "orderable": true
               },
               {
                   "data": "Mobile",
                   "orderable": true
               },
               {
                   "data": "Email",
                   "orderable": true
               },
               {
                   "data": null,
                   "orderable": false,
                   "className": "align_center",
                   "render": function (row) {
                       var result = "";
                       var isDisabled = "";

                       var userId = row.UserID;
                       var username = row.Username;
                       var oPRoleID = row.OPRoleID;



                       var _chk = (row.OPChecked === 1);
                       var isChecked = _chk ? "checked=\"checked\"" : "";

                       var isAdminBSP = ('@isAdminBSP' === 'True');
                       var isBSPNonConnecting = ('@isBSPNonConnecting' === 'True');
                       var isAdminBSPRow = (oPRoleID == 1 || oPRoleID == 5);

                       @*console.log(username.toUpperCase());
                       console.log("@usernameCurrentUpper");
                       console.log(oPRoleID);
                       console.log(isAdminBSPRow);*@

                       if (!isAdminBSP || isBSPNonConnecting) {
                           isDisabled = "disabled = \"disabled\"";
                           result += "<input type=\"checkbox\" name=\"chk_" + userId + "\" id=\"chk_" + userId + "\" value=\"true\" " + isChecked + " " + isDisabled + "  />";
                       } else {
                           if (username.toUpperCase() === '@usernameCurrentUpper' || isAdminBSPRow) {
                               isDisabled = "disabled = \"disabled\"";
                               result += "<input type=\"checkbox\" name=\"chk_" + userId + "\" id=\"chk_" + userId + "\" value=\"true\" " + isChecked + " " + isDisabled + "  />";
                               result += "<input type=\"hidden\" name=\"chk_" + userId + "\" id=\"hidchk_" + userId + "\" value=" + _chk.toString() + "  />";
                           } else {
                               isDisabled = "";
                               result += "<input onclick=\"OPChecked('" + userId + "');\" type=\"checkbox\" name=\"chk_" + userId + "\" id=\"chk_" + userId + "\" value=\"true\" " + isChecked + " " + isDisabled + "  />";
                           }
                       }

                       return result;
                   }
               },
               {
                   "data": null,
                   "orderable": false,
                   "className": "align_center",
                   "render": function (row) {
                       var result = "";
                       var _chk = (row.OPChecked === 1);
                       var isdisabled = _chk ? "" : "disabled";

                       var oPRoleName = row.OPRoleName;
                       var userID = row.UserID;
                       var username = row.Username;
                       var oPRoleID = row.OPRoleID;

                       var isAdminBSP = ('@isAdminBSP' === 'True');
                       var isBSPNonConnecting = ('@isBSPNonConnecting' === 'True');
                       var isAdminBSPRow = (oPRoleID == 1 || oPRoleID == 5);

                       if (!isAdminBSP || isBSPNonConnecting) {
                           result += oPRoleName;
                           result += "<input type=\"hidden\" name=\"RoleID_" + userID + "\" id=\"RoleID_" + userID + "\" value=\"" + oPRoleID + "\">";
                       } else {
                           if (username.toUpperCase() === '@usernameCurrentUpper' || isAdminBSPRow) {
                               result += oPRoleName;
                               result += "<input type=\"hidden\" name=\"RoleID_" + userID + "\" id=\"SysRoleID_" + userID + "\" value=\"" + oPRoleID + "\">";
                           } else {
                               var selectedValue = "value=" + oPRoleID;
                               result += "<select name=\"RoleID_" + userID + "\" id=\"SysRoleID_" + userID + "\" class=\"form-control custom\" onload=\"\" " + isdisabled + ">" + "@Html.Raw(options)" + "</select>";
                               result = result.replace(selectedValue, selectedValue + " selected=\"selected\"");
                               result += "<span id=\"validatRole_" + userID + "\"  class=\"text-danger-bold\" style=\"display:none;\">";
                               result += '@T("_Profile.UserInformation.ValidateMsg.RequireSysRole").ToString()';
                               result += "</span>";
                           }
                       }

                       return result;
                   }
               },
               {
                   "data": null,
                   "orderable": false,
                   "className": "align_center",
                   "render": function (row) {
                       var textSave = "";
                       var textEdit = "";
                       var result = "";
                       // Retrive row data
                       var userID = row.UserID;

                       // Convert type razor to js
                       var isAdminBSP = ('@isAdminBSP' === 'True');

                       //var isUserOPMapping = postCheckIsUserSystemMappingByUserID(userID);
                       //var isUserOPMappingEnableService = postCheckIsUserSystemMappingEnableServiceByUserID(userID);
                       var isUserOPMapping = true;
                       var isUserOPMappingEnableService = true;


                       if (isAdminBSP) {

                           textSave = "<input id=\"save_" + userID + "\" type=\"image\" src=\"/Content/images/icon/ico-sp_savesetting.gif\" alt=\"Submit\" onclick=\"saveUserBSP('" + userID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"" + '@T("_Profile.TblUserList.Tooltip.Action.Save")' + "\" >";

                           if (isUserOPMappingEnableService) {
                               textEdit = "<input id=\"edit_" + userID + "\" type=\"image\" src=\"/Content/images/icon/ico-sp_edituser2.gif\" alt=\"Submit\" onclick=\"editUserBSP('" + userID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"" + '@T("_Profile.TblUserList.Tooltip.Action.Edit")' + "\" >";
                           }
                       }

                       result += textSave + "&nbsp;&nbsp;&nbsp;" + textEdit;
                       result += "<input id=\"OPMapping_" + userID + "\" name=\"OPMapping_" + userID + "\" type=\"hidden\" value=\"" + isUserOPMapping + "\" />";
                       result += "<input id=\"OPMappingEnableService_" + userID + "\" name=\"OPMappingEnableService_" + userID + "\" type=\"hidden\" value=\"" + isUserOPMappingEnableService + "\" />";

                       return result;
                   }
               }
            ]
        });

        table = $('#myDataTable').dataTable().api();

        

        reloadGridview = function () {
            table.ajax.reload();
        }
        

    });

    function saveUserBSP(userID) {

        var chk = $('#chk_' + userID).is(':checked')
        var opMapping = $('#OPMapping_' + userID).val();
        var roleID = $('#SysRoleID_' + userID).val();
        var url = window.location.href;
        var requireRole = false;

        //console.log(roleID);

        if (roleID == "undefined" || roleID == "") {
            $("#validatRole_" + userID).css("display", "block");
            requireRole = false;
        } else {
            $("#validatRole_" + userID).css("display", "none");
            requireRole = true;
        }

        if (requireRole) {
            disablePage();
            setTimeout(function () {
                $.ajax({
                    url: '/Profile/SaveBSPUserPreference',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        model: {
                            UserID: userID,
                            CheckedOP: chk,
                            SysRoleID: roleID,
                            UrlLink: url
                        }
                    }),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {

                        //console.log(data);
                        if(data.Status)
                        {
                            if (chk && opMapping == "False")
                            {
                                requestLinkBSP();
                            }else
                            {
                                $.unblockUI();
                                //GridView_UserInformation.PerformCallback();
                                reloadGridview();
                                $("#messageAlert").text("");
                                $("#messageAlert").text("@T("_Profile.UserInformation.UpdateSysUserNonOP").ToString()");
                                modalMessageAlert();
                            }

                        }else
                        {
                            //GridView_UserInformation.PerformCallback();
                            reloadGridview();
                            $.unblockUI();
                            $("#messageAlert").text("");
                            $("#messageAlert").text(data.Message);
                            modalMessageAlert();
                        }

                    },
                    error: function (xhr) {
                        $.unblockUI();
                    }
                })
            }, 500);

        }
        
        
    }

    function postCheckIsUserSystemMappingByUserID(userId) {
        try {
            return $.ajax({
                url: "@Url.Action("PostCheckIsUserSystemMappingByUserID", "Profile")",
                type: "POST",
                async: false,
                dataType: "json",
                data: "{ strUserId: " + userId + " }",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //return data;
                },
                error: function (e) {
                    //alert(JSON.stringify(e));
                }
            });
        } catch (e) {

        }
        return false;
    }

    function postCheckIsUserSystemMappingEnableServiceByUserID(userId) {
        try {
            return $.ajax({
                url: "@Url.Action("PostCheckIsUserSystemMappingEnableServiceByUserID", "Profile")",
                type: "POST",
                async: false,
                dataType: "json",
                data: "{ strUserId: " + userId + " }",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //return data;
                },
                error: function (e) {
                    //alert(JSON.stringify(e));
                }
            });
        } catch (e) {

        }
        return false;
    }

</script>