﻿@model SupplierPortal.Data.Models.SupportModel.Profile.ChangePasswordModels
@using (Html.BeginForm("ChangePassword", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-changePassword" }))
{
<div class="row">
    <div class="data_end" style="padding-top:12px;"></div>
    <div class="col-xs-12 col-md-12">
        @*<td width="20%" style="padding:0;vertical-align: top;" rowspan="2">*@
        <div style="float:right;">
            <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary" onclick="" />
            @Html.ActionLink(T("_Global.BtnClose").ToString(), "Index", "Home", null, new { @class = "btn btn-default" })
            @*<a href="@Url.Action("Index", "Profile",null)#General" class="btn btn-default">@T("_Profile.General_Btn.Close")</a>*@
        </div>
        @*</td>*@
    </div>
    <div class="data_end" style="padding-top:12px;"></div>
    <div class="col-xs-12 col-md-12">
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="98%">
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @TP("ResetPassword.PasswordPolicy")
                                </div>
                            </div>
                        </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td width="80%" style="text-align: left;">
                        <div class="form_label_bold">@T("_Profile.ChangePassword.LblOldPassword") :<span class="red_highlight">*</span></div>
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <div class="form_item">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control max300", id = "OldPassword" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger-bold" })
                            @*@Html.TextBox("OldPassword", null, new { @class = "form-control", id = "OldPassword", maxlength = "30" })*@
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">
                        <div class="form_label_bold">@T("_Profile.ChangePassword.LblNewPassword") :<span class="red_highlight">*</span></div>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2">
                        <div class="form_item">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control max300", id = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-bold" })
                            @*@Html.TextBox("NewPassword", null, new { @class = "form-control", id = "NewPassword", maxlength = "30" })*@
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">
                        <div class="form_label_bold">@T("_Profile.ChangePassword.LblReNewPassword") :<span class="red_highlight">*</span></div>
                    </td>
                </tr>
                <tr>
                    <td align="left" colspan="2">
                        <div class="form_item">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control max300", id = "Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger-bold" })
                            @*@Html.TextBox("ReNewPassword", null, new { @class = "form-control", id = "ReNewPassword", maxlength = "30" })*@
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}
