﻿@model List<SupplierPortal.Data.Models.SupportModel.Profile.Tbl_OPNBuyerSupplierMappingViewModels>

@{
    string invitationCodeList = "";
    List<string> invitationCodeListTmp = new List<string>();
    int supplierId = (int) ViewData["suuplierId"];
}


  @Html.Hidden("sid", supplierId, new { @id = "sid" })

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="data_end" style="padding-top:30px;"></div>
                    <div style="float:right;padding-right:20px">
                        <input type="button" value="@T("_Global.BtnSave")" onclick="" class="btn btn-primary" id="saveInvitationCode" />
                        @Html.ActionLink(T("_Global.BtnClose").ToString(), "Index", "Home", null, new { @class = "btn btn-default" })
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <span class="form_label_bold">Oneplanet</span>
                    </div>
                    <div class="data_end" style="padding-top:7px;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="list-userMerg">
                                <thead>
                                    <tr class="regis_table_header">
                                        <td width="5%">@T("_Profile.TabMergUserAccount.TblMerge.ColCaption.No")</td>
                                        <td width="55%">@T("_SuppVer.TblNewSupplier.ColCaption.BuyerName")</td>
                                        <td width="10%">@T("_SuppVer.TblNewSupplier.ColCaption.InvitationCode")</td>
                                        <td width="20%">@T("_Profile.TabYourBuyerList.ColCaption.CreateDate")</td>
                                    </tr>
                                </thead>
                                <tbody id="p_scents">
                                    @{
                                        int i = 0;
                                        foreach (SupplierPortal.Data.Models.SupportModel.Profile.Tbl_OPNBuyerSupplierMappingViewModels item in Model)
                                        {
                                            i = i + 1;
                                            invitationCodeListTmp.Add("'" + item.InvitationCode + "'");

                                            <tr class="main_table_row numbered_row" id="@item.SupplierID">
                                                <td align="center">@i</td>
                                                <td align="left">@item.OPNBuyer.BuyerName</td>
                                                <td align="left">@item.InvitationCode</td>
                                                <td align="left">@item.CreatedDate</td>
                                            </tr>
                                        }

                                        invitationCodeList = "[" + String.Join(",", invitationCodeListTmp) + "]";
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:5px;"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="float:right;">
                                <span id="spanAddAnother" class="link-blue" data-toggle="collapse" href="#tabAddInvitationCode" aria-expanded="false" aria-controls="tabAddInvitationCode">@T("_Profile.TabYourBuyerList.LnkAddInvitationCode")</span>
                            </div>
                            <div style="float:right;">
                                <a id="hrefAddAnother" class="lnkAddAnother" data-toggle="collapse" href="#tabAddInvitationCode" aria-expanded="false" aria-controls="tabAddInvitationCode"><img src="~/Content/images/icon/ico-sp_newuser.gif"></a>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:10px;"></div>

                    <div class="collapse" id="tabAddInvitationCode">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div style="align-items:center">
                                            <img src="~/Content/images/icon/ico-sp_newuser.gif"> &nbsp;&nbsp;<span class="ep_box_topic">@T("_Profile.TabYourBuyerList.LnkAddInvitationCode")</span>
                                        </div>

                                        <div class="data_end" style="padding-top:15px;"></div>

                                        <div class="center-myAccount">
                                            @Html.TextBox("invitationCode", null, new { @id = "invitationCode", @class = "form-control", placeholder = T("_SuppVer.TblNewSupplier.ColCaption.InvitationCode"), data_val = "true", data_val_required = @T("_Profile.TabYourBuyerList.ValidateMsg.invitationCode"), @autocomplete = "off", @maxlength = "25" })
                                        </div>
           

                                        <div class="center-myAccount">
                                            <span class="text-danger-bold" id="errorMessage-addInvitationCode" style="display:none;"></span>
                                            <span class="text-success-bold" id="successMessage-addInvitationCode" style="display:none;"></span>
                                        </div>

                                        <div class="data_end" style="padding-top:30px;"></div>

                                        <div class="center-myAccount-button">
                                            <input id="btnAddInvitationCode" type="button" class="btn btn-primary" value="@T("_Profile.TabYourBuyerList.Verify.invitationCode")">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>


                </div>
            </div>
        </div>
    </div>


<div class="data_end" style="padding-top:30px;"></div>



<div id="ModalYourBuyerMessageAlert" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @T("_Lbl.Error")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <span>@T("_Profile.TabYourBuyerList.ErrMsg.invitationCode")</span>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function ModalMessageAlert() {
        $("#ModalYourBuyerMessageAlert").modal({ backdrop: "static", keyboard: false })
    }


    $(document).ready(function () {

        var invitationCodeList = @Html.Raw(invitationCodeList);
        var isValid = false;

        $("#invitationCode").on('input change', function () {
            $("#successMessage-addInvitationCode").css("display", "none");
            $("#successMessage-addInvitationCode").html("");
            $("#errorMessage-addInvitationCode").css("display", "none");
            $("#errorMessage-addInvitationCode").html("");
            isValid = false;
        })

        $('#saveInvitationCode').click(function (evt) {
            if (isValid) {
                var sid = $('#sid').val();
                var invitationCode =  $("#invitationCode").val();
                invitationCode.trim();

                $.ajax({
                    url: '/Profile/insertBuyerSupplierMappingByInvitation',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        invitationCode: invitationCode,
                        sid: sid
                    }),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {

                        //console.log(data);
                        if (data) {
                            location.reload();
                        } else {
                            ModalMessageAlert();
                        }
                    },
                    error: function (xhr) {
                        return false;
                    }
                });
            }
            else {
                ModalMessageAlert();
            }
        })

        $("#btnAddInvitationCode").click(function (evt) {
            var invitationCode = "";
            var isError = false;
            invitationCode = $("#invitationCode").val();
            invitationCode.trim();

            if (invitationCode == undefined || invitationCode == "") {
                $("#successMessage-addInvitationCode").css("display", "none");
                $("#successMessage-addInvitationCode").html("");
                $("#errorMessage-addInvitationCode").css("display", "block");
                $("#errorMessage-addInvitationCode").html("@T("_Profile.TabYourBuyerList.ValidateMsg.invitationCode")");
                isError = true;
            }
            
            if (invitationCodeList.length > 0) {
                invitationCodeList.forEach(function (item) {
                    if (item == invitationCode) {
                        $("#successMessage-addInvitationCode").css("display", "none");
                        $("#successMessage-addInvitationCode").html("");
                        $("#errorMessage-addInvitationCode").css("display", "block");
                        $("#errorMessage-addInvitationCode").html("@T("_Profile.TabYourBuyerList.ValidateMsg.DuplicateInvitationCode")");
                        isError = true;
                    }
                }); 
            }
            
            if (!isError) {
                $.ajax({
                    url: '/Profile/CheckInvitationCode',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        invitationCode: invitationCode
                    }),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        
                        //console.log(data);
                        if (data) {
                            $("#errorMessage-addInvitationCode").css("display", "none");
                            $("#errorMessage-addInvitationCode").html("");
                            $("#successMessage-addInvitationCode").css("display", "block");
                            $("#successMessage-addInvitationCode").html("@T("_Profile.TabYourBuyerList.ValidateMsg.InvitationCodeValid")");
                            isValid = true;
                            //$("#myAccountAuthen").removeClass("in").addClass("collapse");
                        } else {
                            $("#successMessage-addInvitationCode").css("display", "none");
                            $("#successMessage-addInvitationCode").html("");
                            $("#errorMessage-addInvitationCode").css("display","block");
                            $("#errorMessage-addInvitationCode").html("@T("_Profile.TabYourBuyerList.ValidateMsg.InvitationCodeInValid")");
                        }
                    },
                    error: function (xhr) {
                        return false;
                    }
                });
            }


        });

    });



</script>
