﻿
@{
    ViewBag.Title = "User Information";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<style>
    .dxeTextBoxSys, .dxeButtonEditSys {
        width: 100% !important;
    }
</style>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "UserInformation" }); }
</div>

<div class="container">
    @*<div class="row">
        <div class="data_end"></div>
        <div class="ep_badge_green_edge"></div>
        <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.Profile.UserInformation") </div>
        <div class="data_end" style="padding-top:40px;"></div>
    </div>*@

    <div class="row">
        <div class="data_end" style="padding-top:35px;"></div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="normal_topic_wrap">
                <div class="normal_topic">
                    <span id="tab_topic">@T("_Profile.UserInformation.InstrTxt.Title")</span>
                    <span class="normal_topic_detial" id="tab_detial">@T("_Profile.UserInformation.InstrTxt.Txt")</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Partial(@"~/Views/Profile/_PartialUserInformation.cshtml")
        </div>
    </div>
    </div>
