﻿@model  SupplierPortal.Data.Models.MappingTable.Tbl_MenuPortal

@*@foreach (var item in Model)
{*@
    <li class="top_menu_li" oncontextmenu="return false" style="margin-left:662px;"><span class=" ep_ico_b ico_top @Model.Icon "></span>@Html.ActionLink(T(Model.ResourceName).ToString(), Model.ActionName, Model.ControllerName, null, new { @onclick = "disablePage();" })</li>

@*}*@
@*<script language="javascript">
    //document.onmousedown=disableclick;
    //status="Right Click Disabled";
    //function disableclick(event)
    //{
    //  if(event.button==2)
    //   {
    //     alert(status);
    //     return false;
    //   }
    //}
    </script>*@