﻿
@{
    ViewBag.Title = "ServiceUnavailable";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
    @*@{ Html.RenderAction("SubMenuPortalScript", "MenuPortal"); }*@
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>

    <div class="row">
        @*<div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="error_title">
                        <img src="~/Content/images/icon/ico-sp-alert-2.png" style="padding-right:10px;" />
                    </div>
                    <div class="error_content_block">
                        @TP("MenuPortal.ServiceUnavailable")
                    </div>
                </div>
            </div>
        </div>*@
        @TP("MenuPortal.ServiceUnavailable")
    </div>

</div>

